In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
path = '../datesets'

In [3]:
!ls ../datasets

cleaned_data final_df     raw_data

In [6]:
crime = pd.read_csv('../datasets/raw_data/incidents_part1_part2.csv',parse_dates = ['dispatch_date'])[['dc_dist','dispatch_date','hour_','text_general_code', 'lat', 'lng']]

In [7]:
crime

,dc_dist,dispatch_date,hour_,text_general_code,lat,lng
0,14,2009-04-06,18.0,Burglary Residential,40.045752,-75.173378
1,14,2009-04-12,19.0,Burglary Residential,40.045752,-75.173378
2,14,2011-11-10,14.0,Burglary Residential,40.045752,-75.173378
3,9,2015-04-15,11.0,Thefts,40.049264,-75.066628
4,9,2016-08-09,20.0,Thefts,40.049264,-75.066628
...,...,...,...,...,...,...
2673210,2,2020-11-06,16.0,Motor Vehicle Theft,40.039568,-75.103899
2673211,39,2020-11-14,13.0,Other Assaults,40.008375,-75.167362
2673212,22,2020-11-12,18.0,Motor Vehicle Theft,39.988422,-75.170561
2673213,15,2020-10-31,18.0,Motor Vehicle Theft,40.017949,-75.086378
2673214,16,2020-10-31,18.0,Motor Vehicle Theft,39.970187,-75.207199

In [10]:
housing = pd.read_csv('../datasets/raw_data/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv')

In [11]:
housing_median = housing[np.logical_and(housing.City=='Philadelphia',housing.State=='PA')]

In [12]:
housing_median = housing_median.drop(columns=['RegionID', 'SizeRank', 'RegionType', 'StateName',
       'State', 'City', 'Metro', 'CountyName'])
housing_median.head(10)

,RegionName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,1996-07-31,1996-08-31,1996-09-30,...,2019-12-31,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30
124,19143,59194.0,59157.0,59020.0,58994.0,58814.0,58677.0,58237.0,57775.0,57401.0,...,129139.0,131026.0,133136.0,135333.0,137792.0,139439.0,140555.0,142152.0,145624.0,149005.0
245,19111,82937.0,82754.0,82618.0,82385.0,82258.0,82183.0,82147.0,82070.0,82035.0,...,201978.0,202375.0,203013.0,204140.0,206026.0,207680.0,209731.0,211741.0,214489.0,216847.0
336,19124,44654.0,44569.0,44483.0,44317.0,44183.0,44001.0,43841.0,43693.0,43683.0,...,120175.0,121293.0,122433.0,123680.0,124885.0,125678.0,126885.0,128331.0,130087.0,131442.0
421,19120,56915.0,56853.0,56765.0,56606.0,56489.0,56404.0,56393.0,56318.0,56236.0,...,124442.0,125234.0,126119.0,127083.0,128053.0,128792.0,129475.0,130430.0,132011.0,133388.0
507,19104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,185619.0,186156.0,188085.0,189266.0,190871.0,191909.0,194209.0,196823.0,200650.0,205000.0
525,19134,47333.0,47326.0,47338.0,47228.0,47148.0,47013.0,47058.0,46913.0,46824.0,...,78707.0,79658.0,80312.0,81298.0,82139.0,82825.0,83502.0,84214.0,85287.0,86090.0
571,19148,54079.0,53791.0,53691.0,53443.0,53390.0,53166.0,53013.0,52787.0,52711.0,...,249696.0,250058.0,250554.0,251133.0,252196.0,253280.0,254934.0,256913.0,259167.0,261122.0
620,19131,61244.0,60872.0,60535.0,60234.0,60159.0,60295.0,60470.0,60914.0,61378.0,...,132358.0,132814.0,133841.0,135318.0,137085.0,138532.0,140069.0,142089.0,145104.0,148104.0
651,19144,66680.0,66805.0,66591.0,66423.0,66001.0,65984.0,66217.0,66386.0,66547.0,...,164777.0,165863.0,166711.0,168441.0,170330.0,171905.0,172929.0,174069.0,175551.0,176518.0
753,19146,90078.0,90462.0,91308.0,92288.0,93188.0,93013.0,92191.0,91828.0,91658.0,...,365750.0,367130.0,368356.0,369609.0,370703.0,371591.0,373609.0,375130.0,378087.0,380081.0

In [13]:
housing_median = housing_median.T
housing_median

,124,245,336,421,507,525,571,620,651,753,...,5445,5508,5960,7574,8467,8500,8844,9102,10553,10664
RegionName,19143.0,19111.0,19124.0,19120.0,19104.0,19134.0,19148.0,19131.0,19144.0,19146.0,...,19133.0,19123.0,19106.0,19126.0,19129.0,19153.0,19118.0,19102.0,19127.0,19137.0
1996-01-31,59194.0,82937.0,44654.0,56915.0,NaN,47333.0,54079.0,61244.0,66680.0,90078.0,...,NaN,95379.0,146451.0,101066.0,69533.0,57882.0,207345.0,111791.0,76640.0,51203.0
1996-02-29,59157.0,82754.0,44569.0,56853.0,NaN,47326.0,53791.0,60872.0,66805.0,90462.0,...,NaN,94909.0,145623.0,100803.0,69655.0,58053.0,206873.0,110783.0,77218.0,51286.0
1996-03-31,59020.0,82618.0,44483.0,56765.0,NaN,47338.0,53691.0,60535.0,66591.0,91308.0,...,NaN,94464.0,145227.0,100423.0,69568.0,58259.0,206275.0,110150.0,77668.0,51447.0
1996-04-30,58994.0,82385.0,44317.0,56606.0,NaN,47228.0,53443.0,60234.0,66423.0,92288.0,...,NaN,93919.0,144285.0,100112.0,69425.0,58627.0,205018.0,109009.0,78531.0,51539.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-31,139439.0,207680.0,125678.0,128792.0,191909.0,82825.0,253280.0,138532.0,171905.0,371591.0,...,61116.0,420501.0,429878.0,187075.0,255411.0,160793.0,589252.0,377806.0,270667.0,180319.0
2020-06-30,140555.0,209731.0,126885.0,129475.0,194209.0,83502.0,254934.0,140069.0,172929.0,373609.0,...,61617.0,422654.0,431334.0,187229.0,256702.0,161979.0,592321.0,378787.0,273137.0,182604.0
2020-07-31,142152.0,211741.0,128331.0,130430.0,196823.0,84214.0,256913.0,142089.0,174069.0,375130.0,...,62173.0,425018.0,432962.0,187896.0,258819.0,163896.0,596440.0,379625.0,275650.0,184544.0
2020-08-31,145624.0,214489.0,130087.0,132011.0,200650.0,85287.0,259167.0,145104.0,175551.0,378087.0,...,62827.0,429766.0,437155.0,189743.0,261595.0,166344.0,603196.0,381099.0,279730.0,186967.0
2020-09-30,149005.0,216847.0,131442.0,133388.0,205000.0,86090.0,261122.0,148104.0,176518.0,380081.0,...,63387.0,434936.0,441558.0,192288.0,264648.0,169517.0,609402.0,381080.0,283705.0,189635.0

In [14]:
new_header = housing_median.iloc[0]
new_header = [str(int(i)) for i in new_header]
len(new_header)

46

In [15]:
housing_median = housing_median[1:]
housing_median.columns = new_header
housing_median

,19143,19111,19124,19120,19104,19134,19148,19131,19144,19146,...,19133,19123,19106,19126,19129,19153,19118,19102,19127,19137
1996-01-31,59194.0,82937.0,44654.0,56915.0,NaN,47333.0,54079.0,61244.0,66680.0,90078.0,...,NaN,95379.0,146451.0,101066.0,69533.0,57882.0,207345.0,111791.0,76640.0,51203.0
1996-02-29,59157.0,82754.0,44569.0,56853.0,NaN,47326.0,53791.0,60872.0,66805.0,90462.0,...,NaN,94909.0,145623.0,100803.0,69655.0,58053.0,206873.0,110783.0,77218.0,51286.0
1996-03-31,59020.0,82618.0,44483.0,56765.0,NaN,47338.0,53691.0,60535.0,66591.0,91308.0,...,NaN,94464.0,145227.0,100423.0,69568.0,58259.0,206275.0,110150.0,77668.0,51447.0
1996-04-30,58994.0,82385.0,44317.0,56606.0,NaN,47228.0,53443.0,60234.0,66423.0,92288.0,...,NaN,93919.0,144285.0,100112.0,69425.0,58627.0,205018.0,109009.0,78531.0,51539.0
1996-05-31,58814.0,82258.0,44183.0,56489.0,NaN,47148.0,53390.0,60159.0,66001.0,93188.0,...,NaN,93203.0,143917.0,99755.0,68958.0,58912.0,204219.0,108650.0,79618.0,51507.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-31,139439.0,207680.0,125678.0,128792.0,191909.0,82825.0,253280.0,138532.0,171905.0,371591.0,...,61116.0,420501.0,429878.0,187075.0,255411.0,160793.0,589252.0,377806.0,270667.0,180319.0
2020-06-30,140555.0,209731.0,126885.0,129475.0,194209.0,83502.0,254934.0,140069.0,172929.0,373609.0,...,61617.0,422654.0,431334.0,187229.0,256702.0,161979.0,592321.0,378787.0,273137.0,182604.0
2020-07-31,142152.0,211741.0,128331.0,130430.0,196823.0,84214.0,256913.0,142089.0,174069.0,375130.0,...,62173.0,425018.0,432962.0,187896.0,258819.0,163896.0,596440.0,379625.0,275650.0,184544.0
2020-08-31,145624.0,214489.0,130087.0,132011.0,200650.0,85287.0,259167.0,145104.0,175551.0,378087.0,...,62827.0,429766.0,437155.0,189743.0,261595.0,166344.0,603196.0,381099.0,279730.0,186967.0
2020-09-30,149005.0,216847.0,131442.0,133388.0,205000.0,86090.0,261122.0,148104.0,176518.0,380081.0,...,63387.0,434936.0,441558.0,192288.0,264648.0,169517.0,609402.0,381080.0,283705.0,189635.0

In [16]:
housing_median.index = pd.to_datetime(housing_median.index)

In [17]:
housing3 = pd.read_csv('/Users/kessler.363/Downloads/Zip_ZORI_AllHomesPlusMultifamily_Smoothed.csv')

In [485]:
phila_rent = housing3[housing3.MsaName == 'Philadelphia, PA']

In [486]:
phila_rent

,RegionID,RegionName,SizeRank,MsaName,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,...,2019-12,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09
106,65810,19143,127,"Philadelphia, PA",1000.0,996.0,998.0,981.0,NaN,987.0,...,1198.0,1156.0,1165.0,1158.0,1160.0,1190.0,1187.0,1209.0,1186.0,1234.0
264,65791,19124,339,"Philadelphia, PA",845.0,913.0,876.0,863.0,839.0,NaN,...,1021.0,1019.0,995.0,1013.0,1039.0,1101.0,1105.0,1070.0,1054.0,1068.0
299,65933,19446,385,"Philadelphia, PA",1194.0,1198.0,1225.0,1214.0,1163.0,1183.0,...,1336.0,1360.0,1368.0,1377.0,1342.0,1359.0,1371.0,1376.0,1388.0,1392.0
388,65772,19104,501,"Philadelphia, PA",1268.0,1258.0,1303.0,1328.0,1325.0,1356.0,...,1563.0,1547.0,1555.0,1585.0,1580.0,1594.0,1596.0,1569.0,1545.0,1544.0
399,65742,19067,516,"Philadelphia, PA",1566.0,NaN,1519.0,1612.0,1642.0,1643.0,...,1793.0,1739.0,1760.0,1772.0,1761.0,1760.0,1751.0,1736.0,1757.0,1785.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3117,65918,19425,6571,"Philadelphia, PA",NaN,NaN,1901.0,1942.0,NaN,1983.0,...,2226.0,2213.0,NaN,2204.0,2295.0,2276.0,2299.0,2335.0,NaN,2276.0
3121,65796,19129,6611,"Philadelphia, PA",NaN,NaN,NaN,1216.0,1201.0,1199.0,...,1425.0,1454.0,1423.0,1450.0,1414.0,1421.0,1417.0,1410.0,1422.0,1438.0
3154,65770,19102,7010,"Philadelphia, PA",1807.0,NaN,NaN,1945.0,1982.0,1999.0,...,1895.0,1948.0,1942.0,2003.0,1985.0,1969.0,1952.0,1954.0,1919.0,1886.0
3175,65744,19072,7292,"Philadelphia, PA",NaN,NaN,1730.0,NaN,NaN,1727.0,...,1888.0,1973.0,2010.0,1928.0,1977.0,1873.0,1886.0,1935.0,1935.0,1896.0
3210,65794,19127,7854,"Philadelphia, PA",1449.0,1354.0,1418.0,1439.0,1436.0,1441.0,...,1548.0,1571.0,1584.0,1599.0,1606.0,1624.0,1641.0,1595.0,1619.0,1609.0

In [487]:
phila_rent = phila_rent.drop(columns = ['RegionID','SizeRank','MsaName'])
phila_rent

,RegionName,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,2014-08,2014-09,...,2019-12,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09
106,19143,1000.0,996.0,998.0,981.0,NaN,987.0,1008.0,956.0,933.0,...,1198.0,1156.0,1165.0,1158.0,1160.0,1190.0,1187.0,1209.0,1186.0,1234.0
264,19124,845.0,913.0,876.0,863.0,839.0,NaN,847.0,869.0,937.0,...,1021.0,1019.0,995.0,1013.0,1039.0,1101.0,1105.0,1070.0,1054.0,1068.0
299,19446,1194.0,1198.0,1225.0,1214.0,1163.0,1183.0,1211.0,1209.0,1188.0,...,1336.0,1360.0,1368.0,1377.0,1342.0,1359.0,1371.0,1376.0,1388.0,1392.0
388,19104,1268.0,1258.0,1303.0,1328.0,1325.0,1356.0,1374.0,1339.0,1344.0,...,1563.0,1547.0,1555.0,1585.0,1580.0,1594.0,1596.0,1569.0,1545.0,1544.0
399,19067,1566.0,NaN,1519.0,1612.0,1642.0,1643.0,1622.0,1598.0,1613.0,...,1793.0,1739.0,1760.0,1772.0,1761.0,1760.0,1751.0,1736.0,1757.0,1785.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3117,19425,NaN,NaN,1901.0,1942.0,NaN,1983.0,NaN,1952.0,NaN,...,2226.0,2213.0,NaN,2204.0,2295.0,2276.0,2299.0,2335.0,NaN,2276.0
3121,19129,NaN,NaN,NaN,1216.0,1201.0,1199.0,1220.0,1202.0,1214.0,...,1425.0,1454.0,1423.0,1450.0,1414.0,1421.0,1417.0,1410.0,1422.0,1438.0
3154,19102,1807.0,NaN,NaN,1945.0,1982.0,1999.0,2005.0,2029.0,2019.0,...,1895.0,1948.0,1942.0,2003.0,1985.0,1969.0,1952.0,1954.0,1919.0,1886.0
3175,19072,NaN,NaN,1730.0,NaN,NaN,1727.0,1760.0,1712.0,NaN,...,1888.0,1973.0,2010.0,1928.0,1977.0,1873.0,1886.0,1935.0,1935.0,1896.0
3210,19127,1449.0,1354.0,1418.0,1439.0,1436.0,1441.0,1448.0,1425.0,1423.0,...,1548.0,1571.0,1584.0,1599.0,1606.0,1624.0,1641.0,1595.0,1619.0,1609.0

In [21]:
phila_rent = phila_rent.T
new_header = phila_rent.iloc[0]
new_header = [str(int(i)) for i in new_header]
len(new_header)

83

In [499]:
test = phila_rent.copy()
rentzips = test.RegionName
test = test.drop(columns = ['RegionName'])
test.columns = pd.to_datetime(test.columns)
test = test.stack().reset_index()
test

      level_0              level_1      0
0         106  2014-01-01 00:00:00   1000
1         106  2014-02-01 00:00:00    996
2         106  2014-03-01 00:00:00    998
3         106  2014-04-01 00:00:00    981
4         106  2014-06-01 00:00:00    987
...       ...                  ...    ...
6239     3210  2020-06-01 00:00:00   1641
6240     3210  2020-07-01 00:00:00   1595
6241     3210  2020-08-01 00:00:00   1619
6242     3210  2020-09-01 00:00:00   1609
6243     3210              zipcode  19127

[6244 rows x 3 columns]

In [22]:
phila_rent = phila_rent[1:]
phila_rent.columns = new_header
phila_rent

,19143,19124,19446,19104,19067,19134,19148,19702,19131,19711,...,18902,8033,8107,19806,19096,19425,19129,19102,19072,19127
2014-01,1000.0,845.0,1194.0,1268.0,1566.0,NaN,1161.0,1502.0,NaN,2081.0,...,NaN,NaN,NaN,1089.0,NaN,NaN,NaN,1807.0,NaN,1449.0
2014-02,996.0,913.0,1198.0,1258.0,NaN,839.0,1170.0,1465.0,1137.0,NaN,...,NaN,NaN,NaN,1151.0,NaN,NaN,NaN,NaN,NaN,1354.0
2014-03,998.0,876.0,1225.0,1303.0,1519.0,819.0,1160.0,1477.0,NaN,NaN,...,1692.0,NaN,963.0,1145.0,NaN,1901.0,NaN,NaN,1730.0,1418.0
2014-04,981.0,863.0,1214.0,1328.0,1612.0,836.0,1177.0,1494.0,1138.0,NaN,...,NaN,NaN,NaN,1168.0,1897.0,1942.0,1216.0,1945.0,NaN,1439.0
2014-05,NaN,839.0,1163.0,1325.0,1642.0,NaN,1153.0,NaN,NaN,NaN,...,NaN,NaN,924.0,1175.0,1825.0,NaN,1201.0,1982.0,NaN,1436.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05,1190.0,1101.0,1359.0,1594.0,1760.0,1059.0,1447.0,1601.0,1399.0,2202.0,...,1816.0,1306.0,NaN,1325.0,2143.0,2276.0,1421.0,1969.0,1873.0,1624.0
2020-06,1187.0,1105.0,1371.0,1596.0,1751.0,1089.0,1479.0,1595.0,1386.0,2178.0,...,1974.0,1290.0,1062.0,1316.0,2148.0,2299.0,1417.0,1952.0,1886.0,1641.0
2020-07,1209.0,1070.0,1376.0,1569.0,1736.0,1123.0,1464.0,1605.0,1482.0,2182.0,...,1897.0,1289.0,1062.0,1307.0,2180.0,2335.0,1410.0,1954.0,1935.0,1595.0
2020-08,1186.0,1054.0,1388.0,1545.0,1757.0,1120.0,1464.0,1561.0,1507.0,2216.0,...,1890.0,1285.0,1127.0,1301.0,2182.0,NaN,1422.0,1919.0,1935.0,1619.0
2020-09,1234.0,1068.0,1392.0,1544.0,1785.0,1138.0,1478.0,1599.0,1545.0,2206.0,...,1832.0,1296.0,1145.0,1328.0,2147.0,2276.0,1438.0,1886.0,1896.0,1609.0

In [23]:
phila_rent.index = pd.to_datetime(phila_rent.index)

In [28]:
crime.zipcode

AttributeError: 'DataFrame' object has no attribute 'zipcode'

In [423]:
irs14 = pd.read_csv('../datasets/raw_data/14zpallagi.csv')
irs15 = pd.read_csv('../datasets/raw_data/15zpallagi.csv')
irs16 = pd.read_csv('../datasets/raw_data/16zpallagi.csv')
irs17 = pd.read_csv('../datasets/raw_data/17zpallagi.csv')
irs18 = pd.read_csv('../datasets/raw_data/18zpallagi.csv')

In [424]:
irs14['zipcode']

0             0
1             0
2             0
3             0
4             0
          ...
166717    99999
166718    99999
166719    99999
166720    99999
166721    99999
Name: zipcode, Length: 166722, dtype: int64

In [442]:
zips_1 = zips.tolist()
zips_1.remove(np.nan)
zips_1 = [int(i) for i in zips_1]

In [443]:
zips = zips_1.copy()
irs14 = irs14[irs14['zipcode'].isin(zips)]
irs15 = irs14[irs14['zipcode'].isin(zips)]
irs16 = irs14[irs14['zipcode'].isin(zips)]
irs17 = irs14[irs14['zipcode'].isin(zips)]
irs18 = irs14[irs14['zipcode'].isin(zips)]

In [444]:
irs14['year'] = 2014
irs15['year'] = 2015
irs16['year'] = 2016
irs17['year'] = 2017
irs18['year'] = 2018

In [445]:
irs_philly = pd.concat([irs14,irs15,irs16,irs17,irs18])

In [446]:
irs_philly.head()

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,...,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902,year
129900,42,PA,19102,1,460.0,410.0,20.0,0.0,210.0,460.0,...,263.0,0.0,0.0,0.0,0.0,70.0,84.0,340.0,509.0,2014
129901,42,PA,19102,2,500.0,450.0,20.0,40.0,220.0,560.0,...,1557.0,0.0,0.0,0.0,0.0,80.0,136.0,400.0,815.0,2014
129902,42,PA,19102,3,510.0,450.0,40.0,0.0,230.0,580.0,...,3973.0,0.0,0.0,0.0,0.0,130.0,238.0,370.0,762.0,2014
129903,42,PA,19102,4,310.0,250.0,50.0,0.0,160.0,380.0,...,3994.0,0.0,0.0,0.0,0.0,100.0,289.0,210.0,567.0,2014
129904,42,PA,19102,5,570.0,370.0,170.0,20.0,340.0,780.0,...,13758.0,20.0,2.0,0.0,0.0,180.0,1132.0,350.0,1797.0,2014

In [447]:
irs_philly = irs_philly[['year','zipcode','agi_stub','mars1','MARS2','NUMDEP','A00100','A02650','A00200','N02300','A02300',
           'N03230','A03230','N07230','A07230']]

In [448]:
irs_columns = ['year','zipcode','agi_code','n_single_returns','n_joint_returns','num_dep','agi',
               'total_wages','salaries','num_unemployment','amt_unemployment',
              'num_tuition_tax','amt_tuition_tax','num_education_credit','amt_education_credit']

In [449]:
irs_philly.columns = irs_columns

In [450]:
irs_philly.head()

,year,zipcode,agi_code,n_single_returns,n_joint_returns,num_dep,agi,total_wages,salaries,num_unemployment,amt_unemployment,num_tuition_tax,amt_tuition_tax,num_education_credit,amt_education_credit
129900,2014,19102,1,410.0,20.0,40.0,5824.0,6194.0,4323.0,0.0,0.0,40.0,138.0,50.0,44.0
129901,2014,19102,2,450.0,20.0,40.0,18622.0,19052.0,15498.0,60.0,296.0,0.0,0.0,80.0,127.0
129902,2014,19102,3,450.0,40.0,40.0,31393.0,31900.0,26157.0,0.0,0.0,30.0,79.0,40.0,57.0
129903,2014,19102,4,250.0,50.0,0.0,27218.0,27569.0,21111.0,0.0,0.0,0.0,0.0,0.0,0.0
129904,2014,19102,5,370.0,170.0,50.0,79705.0,80776.0,61722.0,20.0,167.0,0.0,0.0,0.0,0.0

In [ ]:
crime['num_crimes'] = 1

In [ ]:
crime.head()

In [611]:
import geopandas
df = geopandas.read_file('../datasets/Zipcodes_Poly.geojson')

In [263]:
from shapely.geometry import Polygon, Point, MultiPolygon

zip_json = []
for i in np.arange(len(crime)):
    lon,lat = crime.lng[i],crime.lat[i]
    
    if np.logical_or(np.isnan(lon),np.isnan(lat)):
        zip_json.append(np.nan)
    else:
        point = Point(lon,lat)
        try:
            zip_json.append(df[df.geometry.contains(point) == True].CODE.values[0])
        except:
            zip_json.append(np.nan)

In [265]:
crime['zipcode'] =zip_json

In [32]:
crime.to_csv('../datasets/cleaned_data/crime_recent_zip.csv',index=False)

KeyboardInterrupt:

In [33]:
crime = pd.read_csv('../datasets/cleaned_data/crime_recent_zip.csv')

In [34]:
crime

,dc_dist,dispatch_date,hour_,text_general_code,lat,lng,zipcode
0,14,2009-04-06,18.0,Burglary Residential,40.045752,-75.173378,19144.0
1,14,2009-04-12,19.0,Burglary Residential,40.045752,-75.173378,19144.0
2,14,2011-11-10,14.0,Burglary Residential,40.045752,-75.173378,19144.0
3,9,2015-04-15,11.0,Thefts,40.049264,-75.066628,19149.0
4,9,2016-08-09,20.0,Thefts,40.049264,-75.066628,19149.0
...,...,...,...,...,...,...,...
1014526,8,2007-02-16,0.0,Narcotic / Drug Law Violations,40.031271,-75.021704,19136.0
1014527,8,2007-02-16,1.0,Other Assaults,40.031271,-75.021704,19136.0
1014528,8,2007-02-16,14.0,Narcotic / Drug Law Violations,40.031271,-75.021704,19136.0
1014529,23,2008-06-03,20.0,Narcotic / Drug Law Violations,39.977956,-75.163017,19121.0
1014530,23,2009-07-31,3.0,All Other Offenses,39.977956,-75.163017,19121.0

In [41]:
!ls ../datasets/raw_data

14zpallagi.csv
15zpallagi.csv
16zpallagi.csv
17zpallagi.csv
18zpallagi.csv
Affordable_Housing.csv
Bike_Network.csv
Farmers_Markets.csv
HousingCounselingAgencies.csv
Landmarks_AGOTrainingOnly.csv
Longitudinal School List (20171128).xlsx
NAC_Offices.csv
NeighborhoodAdvisoryCommittees.csv
NeighborhoodFoodRetail.csv
Neighborhoods_Philadelphia.geojson
PPR_Playgrounds.csv
PPR_Playstreets_Locations.csv
PPR_Properties.csv
PPR_Spraygrounds.csv
PPR_StreetTrees.csv
PPR_Swimming_Pools.csv
Schools.csv
Zip_ZORI_AllHomesPlusMultifamily_Smoothed.csv
Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv
Zipcodes_Poly.geojson
homes_saved.csv
incidents_part1_part2.csv
percent_for_art_public.csv
ppr_adult_exercise_equipment.csv

In [43]:
art = pd.read_csv('../datasets/raw_data/percent_for_art_public.csv')
mask = art.address.isna()
art = art[~mask]

In [44]:
from geopy.geocoders import Nominatim

In [45]:
geolocator = Nominatim(user_agent="http")
location = geolocator.geocode('218 Delancey St, Philadelphia')
print(location)

218, Delancey Street, Society Hill, Philadelphia, Philadelphia County, Pennsylvania, 19106, United States of America

In [46]:
location.latitude

39.943692

In [47]:
location.longitude

-75.146026

In [49]:
art

,objectid,p4a_id,image,status,artist,title,date_,location_name,address,location_note,medium,neighborhood,google_streetview_link
0,8,12,No image available,Active,"Hochenek, Jan C.",Title Unknown (two sculptured wood and metal g...,1976,Townhouse,637-39 Pine Street,NaN,Mixed media: wood and metal gates (2),Center City: Washington Square West,https://www.google.com/maps/place/339+S+7th+St...
1,9,13,No image available,Active,"Kimmelman, Harold",The Family,1982,Neighborhood shopping mall walkway,241 Pensport Mall,East side of Moyamensing between Moore and McC...,"Metal, bronze",South Philadelphia,NaN
2,10,14,https://dpd-art-is-essential-docs.s3.amazonaws...,Active,"Kimmelman, Harold",Butterfly,1970,Townhouses,"218-200 Delancey St, Philadelphia, PA 19106",200 block of Delancey St (South side of Delanc...,"Metal, stainless steel",Center City: Society Hill,https://www.google.com/maps/place/S+2nd+St+%26...
3,11,15,https://dpd-art-is-essential-docs.s3.amazonaws...,Active,"Leicester, Andrew",Riverwalk at Piers 3 and 5,1990,Piers 3 and 5,7 N. Coumbus Blvd,7 North Columbus Blvd (Delaware Ave),"Cermaic, concrete, metal, steel aluminum",Center City: Waterfront,NaN
4,12,18,https://dpd-art-is-essential-docs.s3.amazonaws...,Active,"Paley, Albert",Gates and Grills,1978,Townhouses,104 and 106 Pine St.\n 101-113 Lombard St.,100 Blocks of Pine and Lombard Streets,"Metal, mild steel, forged and fabricated w/a s...",Center City: Society Hill,"https://www.google.com/maps/place/104+Pine+St,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,210,253,No image available,Active,"Bachman, Sally (Rosalie)",Power of the Spirit (see also Place over the H...,1982,Doctor's Medical Center,2901 South Island Road,Interior,Textile: tapestry (one of 2),South West Philadelphia: Eastwick,NaN
221,211,255,https://dpd-art-is-essential-docs.s3.amazonaws...,Active,"Love, Arlene",Face Fragment,1975,University City Science Center,3500 Market Street,NaN,"Mixed media, fiberglass, reinforced polyester ...",University City: UCSC,NaN
222,212,256,No image available,Active,"Lauser, Ernest",Millard E. Gladfelter,1968,"Temple University, Presser Hall, 1st Floor (in...",2001 N 13th St,13th & Norris Street,"Metal, bronze",Temple University,NaN
223,213,258,https://dpd-art-is-essential-docs.s3.amazonaws...,Active,"Freeland, William",Elemental Intervals,1986,South Street Development Company,1001-1051 South Street,NaN,"Metal: bronze plate; painted aluminum, bronze ...",Center City: Washington Square West,https://www.google.com/maps/place/1051+South+S...
224,214,259,https://dpd-art-is-essential-docs.s3.amazonaws...,Active,"Kirkland, Larry",To Balance,2003,"Community College of Philadelphia, Business an...",1751 Callowhill St,18th & Callowhill,Medium Unknown,Franklintown,NaN

In [159]:
def getridofdash(add):
    if '-' in add:
        add_0 = add.split('-')[0]

        for i in [add.split('-')[-1]]:
            words = i.split(' ')[1:]
            add_1 = ' '.join(words)

        cleaned_add = add_0+' '+add_1
        return(cleaned_add)
    else:
        return(add)

In [158]:
def getridofand(add):
    if ' and ' in add:
        add_0 = add.split(' and ')[0]

        for i in [add.split(' and ')[-1]]:
            words = i.split(' ')[1:]
            add_1 = ' '.join(words)

        cleaned_add = add_0+' '+add_1
        return(cleaned_add)
    else:
        return(add)

In [148]:
add = '104 and 106 Pine St.'

add_0 = add.split(' and ')[0]

for i in [add.split(' and ')[-1]]:
    words = i.split(' ')[1:]
    add_1 = ' '.join(words)
    
cleaned_add = add_0+' '+add_1
print(cleaned_add)

104 Pine St.

In [147]:
add_1

'Pine St.'

In [169]:
testad=[]
for ad in art.address:
    ad = ad.strip()
    if '-' in ad:
        testad.append(getridofdash(ad))
    else:
        testad.append(ad)

In [166]:
for ad in testad:
    if '-' in ad:
        ad = getridofdash(ad)

In [170]:
testad = [i.split(',')[0] for i in testad]
testad

['637 Pine Street',
 '241 Pensport Mall',
 '218 Delancey St',
 '7 N. Coumbus Blvd',
 '104 and 106 Pine St.\n 101 Lombard St.',
 '303 Cypress St',
 '1733 Girard Ave',
 '1733 Girard Avenue',
 '1733 Girard Avenue',
 '3737 Market Street',
 '3737 Market Street',
 '3737 Market Street',
 '1020 Walnut St',
 '2531 N 4th St',
 '1201 Market Street',
 '1201 Market Street',
 '8800 Tinicum Blvd. Delaware Expy',
 '211 S 9th street',
 '1301 W Norris St',
 '5201 Haverford Ave',
 '201 N 8th St',
 '1025 Clinton Street',
 '925 Chestnut St',
 '201 N. 8th Street',
 '717 S Columbus Blvd',
 'Artwork at 90 Delancey St.',
 '500 & 502 Delancey Street',
 '321 Arch Street',
 '247 S 5th St',
 '1901 W. Girard Avenue',
 '1901 W. Girard Avenue',
 '2100 N. American Street',
 '5601 Vine St',
 '325 S 7th St',
 '100 N Horticulture Drive',
 '313 Lawrence Ct',
 '901 Spruce Street',
 '815 Lombard St.',
 '825 Lombard Street',
 '99 Pine St.',
 '55 N 40th St e16',
 '455 N 5th St',
 '606 Spring Garden Street',
 '1900 North 20th Street',
 '31 West Coulter Street',
 '1200 Market Street',
 '151 N 4th St',
 '100 S Independence Mall W',
 '100 S Independence Mall W',
 '100 S Independence Mall W',
 '100 S Independence Mall W',
 '5821 Baynton St',
 '265 South 4th Street',
 '801 Locust St',
 '400 Market Street',
 '640 N. Broad Street',
 '432 North 6th Street',
 '1100 Spruce Street',
 '3601 Market Street',
 '650 Fairmount Ave',
 '3520 South 78th Street',
 '3240 South 78th Street',
 '3200 Race St',
 '3400 W Girard Ave',
 '1501 Cherry Street',
 '479 North 3rd Street',
 '901 Walnut St.',
 '840 Walnut St',
 '1600 N 8th St',
 '233 S 10th St',
 '3535 Science Center',
 '2001 Hamilton St',
 '2001 Hamilton St',
 '2001 Hamilton St',
 '2001 Hamilton St',
 '2001 Hamilton St',
 '1 Franklin Town Blvd',
 '1700 W Susquehanna Ave',
 '1901 Vine Street \nPhiladelphia PA\n19103',
 '6000 Rising Sun Ave',
 '1601 Vine Street',
 '1200 Fairmount Ave',
 '1601 N 12th St',
 '844 N 6th St',
 '6729 Essington Avenue',
 '1128 Walnut Street',
 '3801 Market Street',
 '5915 Magnolia Street',
 '6701 Essington Avenue',
 '100 North 6th Street',
 '610 Arch Street',
 '7575 Brewster Avenue',
 '1001 Wallace Street',
 '319 S. 10th St',
 '356 Arch  St',
 '5099 Germantown Ave',
 '850 Locust St.',
 '1015 Lombard Street',
 '615 Chestnut Street',
 '1700 Spring Garden St',
 '2134 Cherry Street',
 '930 North 8th Street',
 '743 Spruce Street',
 '6801 Essington Avenue',
 '399 Market St.',
 '701 Arch St',
 '460 N. 6th Street',
 '800 Spruce St',
 '1901 N 13th St',
 '604 S. Washington Square',
 '604 S Washington Square',
 '604 S Washington Square',
 '1913 N Broad St',
 '1913 N Broad St',
 '1913 N Broad St',
 '1913 N Broad St',
 '68 W Chelten Ave',
 '34 West Coulter Street',
 '6750 Lindbergh Boulevard',
 '3637 Chestnut St.',
 '1801 N Broad St',
 '1810 N 13th St',
 '1801 N Broad St',
 '241 S 6th St',
 '700 Spruce Street',
 '3680 Walnut Street',
 '3620 Walnut St',
 '3680 Walnut Street',
 '444 North 3rd Street',
 '3680 Walnut Street',
 '3620 Walnut Street',
 '711 Spring Garden Street',
 '2950 South 70th Street',
 '827 Spring Garden St.',
 '1800 Wallace St',
 '7300 Lindbergh Blvd',
 '1301 Cecil B. Moore Ave',
 '1301 Cecil B. Moore Ave',
 '1301 Cecil B. Moore Ave',
 '2821 Island Ave Ste 215\nPhiladelphia',
 '806 Locust Street',
 'T. G. Miller Plaza',
 '3420 Walnut St',
 '7825 Holstein Ave',
 '214 Walnut St',
 '544 State Rte 2006',
 '2900 Island Ave',
 '3501 Filbert Street',
 '7625 Suffolk Avenue',
 '3411 Chestnut St',
 '3301 Market St',
 '3101 Spring Garden St',
 '3750 Market Street',
 '3675 Market St',
 '3675 Market St',
 '3675 Market Street',
 '1410 N. 31st St.',
 '700 Locust Street',
 '301 Callowhill Street',
 '3990 Market St',
 '3990 Market St',
 '7401 Holstein Avenue',
 '3501 Market Street',
 '3501 Market Street',
 '319 Delancey St.',
 '425 Lombard Street',
 '425 Lombard Street',
 '314 S 5th St',
 '3701 Chestnut Street',
 '7900 Lindbergh Blvd.',
 '148 N 8th St',
 'Bingham Court',
 '8601 Lindbergh Blvd.',
 'Blackwell Place',
 '4509  Island Ave',
 '4509 Island Ave',
 '1001 S 17th St',
 '4509 Island Ave',
 '2900 Island Ave',
 '415 N 5th St',
 '316 South 7th Street',
 '102 Market Street',
 '55 North 5th Street',
 '521 S Broad Street',
 '250 South 5th Street',
 '901 Market St',
 '1234 Market Street',
 '3250 South 76th Street',
 '200 Spring Garden St.',
 '3440 Market Street',
 '3440 Market Street',
 '3550 Market Street',
 '1357 S 12th St',
 '6723 Essington Avenue',
 '221 S. 12th Street',
 '1500 Market St\nPhiladelphia',
 '1500 Market St\nPhiladelphia',
 '800 Spring Garden St',
 '285 St James Pl',
 '285 St James Pl',
 '9201 Germantown Ave',
 '1796 St. Paul St',
 '498N N 18th St',
 '3245 S 78th St',
 '3901 Market Street',
 '9414 Meadowbrook Avenue',
 '9414 Meadowbrook Avenue',
 '15 S 8th St',
 '5500 Haverford Ave',
 '7800 Holstein Ave',
 '911 North Franklin',
 '6615 Norwitch Drive',
 '423 N 19th St',
 '401 Lombard St.',
 '401 Lombard St.',
 '401 Lombard St.',
 '27 South 4th Street',
 '2901 South Island Road',
 '2901 South Island Road',
 '3500 Market Street',
 '2001 N 13th St',
 '1001 South Street',
 '1751 Callowhill St']

In [171]:
testad = [i.split('\n')[0] for i in testad]
testad

['637 Pine Street',
 '241 Pensport Mall',
 '218 Delancey St',
 '7 N. Coumbus Blvd',
 '104 and 106 Pine St.',
 '303 Cypress St',
 '1733 Girard Ave',
 '1733 Girard Avenue',
 '1733 Girard Avenue',
 '3737 Market Street',
 '3737 Market Street',
 '3737 Market Street',
 '1020 Walnut St',
 '2531 N 4th St',
 '1201 Market Street',
 '1201 Market Street',
 '8800 Tinicum Blvd. Delaware Expy',
 '211 S 9th street',
 '1301 W Norris St',
 '5201 Haverford Ave',
 '201 N 8th St',
 '1025 Clinton Street',
 '925 Chestnut St',
 '201 N. 8th Street',
 '717 S Columbus Blvd',
 'Artwork at 90 Delancey St.',
 '500 & 502 Delancey Street',
 '321 Arch Street',
 '247 S 5th St',
 '1901 W. Girard Avenue',
 '1901 W. Girard Avenue',
 '2100 N. American Street',
 '5601 Vine St',
 '325 S 7th St',
 '100 N Horticulture Drive',
 '313 Lawrence Ct',
 '901 Spruce Street',
 '815 Lombard St.',
 '825 Lombard Street',
 '99 Pine St.',
 '55 N 40th St e16',
 '455 N 5th St',
 '606 Spring Garden Street',
 '1900 North 20th Street',
 '31 West Coulter Street',
 '1200 Market Street',
 '151 N 4th St',
 '100 S Independence Mall W',
 '100 S Independence Mall W',
 '100 S Independence Mall W',
 '100 S Independence Mall W',
 '5821 Baynton St',
 '265 South 4th Street',
 '801 Locust St',
 '400 Market Street',
 '640 N. Broad Street',
 '432 North 6th Street',
 '1100 Spruce Street',
 '3601 Market Street',
 '650 Fairmount Ave',
 '3520 South 78th Street',
 '3240 South 78th Street',
 '3200 Race St',
 '3400 W Girard Ave',
 '1501 Cherry Street',
 '479 North 3rd Street',
 '901 Walnut St.',
 '840 Walnut St',
 '1600 N 8th St',
 '233 S 10th St',
 '3535 Science Center',
 '2001 Hamilton St',
 '2001 Hamilton St',
 '2001 Hamilton St',
 '2001 Hamilton St',
 '2001 Hamilton St',
 '1 Franklin Town Blvd',
 '1700 W Susquehanna Ave',
 '1901 Vine Street ',
 '6000 Rising Sun Ave',
 '1601 Vine Street',
 '1200 Fairmount Ave',
 '1601 N 12th St',
 '844 N 6th St',
 '6729 Essington Avenue',
 '1128 Walnut Street',
 '3801 Market Street',
 '5915 Magnolia Street',
 '6701 Essington Avenue',
 '100 North 6th Street',
 '610 Arch Street',
 '7575 Brewster Avenue',
 '1001 Wallace Street',
 '319 S. 10th St',
 '356 Arch  St',
 '5099 Germantown Ave',
 '850 Locust St.',
 '1015 Lombard Street',
 '615 Chestnut Street',
 '1700 Spring Garden St',
 '2134 Cherry Street',
 '930 North 8th Street',
 '743 Spruce Street',
 '6801 Essington Avenue',
 '399 Market St.',
 '701 Arch St',
 '460 N. 6th Street',
 '800 Spruce St',
 '1901 N 13th St',
 '604 S. Washington Square',
 '604 S Washington Square',
 '604 S Washington Square',
 '1913 N Broad St',
 '1913 N Broad St',
 '1913 N Broad St',
 '1913 N Broad St',
 '68 W Chelten Ave',
 '34 West Coulter Street',
 '6750 Lindbergh Boulevard',
 '3637 Chestnut St.',
 '1801 N Broad St',
 '1810 N 13th St',
 '1801 N Broad St',
 '241 S 6th St',
 '700 Spruce Street',
 '3680 Walnut Street',
 '3620 Walnut St',
 '3680 Walnut Street',
 '444 North 3rd Street',
 '3680 Walnut Street',
 '3620 Walnut Street',
 '711 Spring Garden Street',
 '2950 South 70th Street',
 '827 Spring Garden St.',
 '1800 Wallace St',
 '7300 Lindbergh Blvd',
 '1301 Cecil B. Moore Ave',
 '1301 Cecil B. Moore Ave',
 '1301 Cecil B. Moore Ave',
 '2821 Island Ave Ste 215',
 '806 Locust Street',
 'T. G. Miller Plaza',
 '3420 Walnut St',
 '7825 Holstein Ave',
 '214 Walnut St',
 '544 State Rte 2006',
 '2900 Island Ave',
 '3501 Filbert Street',
 '7625 Suffolk Avenue',
 '3411 Chestnut St',
 '3301 Market St',
 '3101 Spring Garden St',
 '3750 Market Street',
 '3675 Market St',
 '3675 Market St',
 '3675 Market Street',
 '1410 N. 31st St.',
 '700 Locust Street',
 '301 Callowhill Street',
 '3990 Market St',
 '3990 Market St',
 '7401 Holstein Avenue',
 '3501 Market Street',
 '3501 Market Street',
 '319 Delancey St.',
 '425 Lombard Street',
 '425 Lombard Street',
 '314 S 5th St',
 '3701 Chestnut Street',
 '7900 Lindbergh Blvd.',
 '148 N 8th St',
 'Bingham Court',
 '8601 Lindbergh Blvd.',
 'Blackwell Place',
 '4509  Island Ave',
 '4509 Island Ave',
 '1001 S 17th St',
 '4509 Island Ave',
 '2900 Island Ave',
 '415 N 5th St',
 '316 South 7th Street',
 '102 Market Street',
 '55 North 5th Street',
 '521 S Broad Street',
 '250 South 5th Street',
 '901 Market St',
 '1234 Market Street',
 '3250 South 76th Street',
 '200 Spring Garden St.',
 '3440 Market Street',
 '3440 Market Street',
 '3550 Market Street',
 '1357 S 12th St',
 '6723 Essington Avenue',
 '221 S. 12th Street',
 '1500 Market St',
 '1500 Market St',
 '800 Spring Garden St',
 '285 St James Pl',
 '285 St James Pl',
 '9201 Germantown Ave',
 '1796 St. Paul St',
 '498N N 18th St',
 '3245 S 78th St',
 '3901 Market Street',
 '9414 Meadowbrook Avenue',
 '9414 Meadowbrook Avenue',
 '15 S 8th St',
 '5500 Haverford Ave',
 '7800 Holstein Ave',
 '911 North Franklin',
 '6615 Norwitch Drive',
 '423 N 19th St',
 '401 Lombard St.',
 '401 Lombard St.',
 '401 Lombard St.',
 '27 South 4th Street',
 '2901 South Island Road',
 '2901 South Island Road',
 '3500 Market Street',
 '2001 N 13th St',
 '1001 South Street',
 '1751 Callowhill St']

In [172]:
art.address = testad

In [173]:
geolocator = Nominatim(user_agent="http")
location = geolocator.geocode(art.address[1]+', Philadelphia, PA', addressdetails=True)
location

In [174]:
location==None

True

In [175]:
artzips = []
for i in art.address:
    try:
        z = geolocator.geocode(i+', Philadelphia, PA', addressdetails=True).raw['address']['postcode']
        artzips.append(z)

    except:
        artzips.append(np.nan)

In [176]:
art['zipcode'] = artzips

In [179]:
art.loc[art[art.zipcode.isna()].index,'zipcode'] = badzips

ValueError: cannot set using a multi-index selection indexer with a different length than the value

In [178]:
badzips =[19148,19106,19153,19131,19106,19106,19106,19106,19102,19153,19104,19153,19106,19147,19145,19145]

In [471]:
art_cut = art[['status','date_','zipcode']]
art_cut.to_csv('../datasets/publicart.csv',index=False)

In [97]:
fm = pd.read_csv('../datasets/raw_data/Farmers_Markets.csv')

In [98]:
fm

,OBJECTID,NEIGHBORHOOD,NAME,ADDRESS,ADDRESS_NOTES,ZIP,DAY,TIME,MONTHS,ACCEPT_SNAP_ACCESS,ACCEPT_FMNP,ACCEPT_PHILLY_FOOD_BUCKS_,MAJOR_BUS_SUBWAY_ROUTES
0,1,Bridesburg/Kensington/Port Richmond,Greensgrow Farm Stand,2501 E. Cumberland Ave,NaN,19125,Thurs & Sat,"Thurs: 3-7pm, Sat: 10am-2pm",May - September,Y,Y,Y,"25, 39, 43, 89"
1,2,Bridesburg/Kensington/Port Richmond,Norris Square Neighborhood Project,Diamond St and N. Howard St,NaN,19122,Thurs,1pm - 3pm,May - October,Y,Y,Y,"3, 39, 89"
2,3,Center City,Rittenhouse,18th and Walnut St,NaN,19103,Tues & Sat,"Tues 10am-2pm, Sat 9am-3pm (may to Nov); 10am ...",Tues- June 4th - November 26th; Sat- Year roun...,NaN,Y,NaN,"9, 17"
3,4,Center City,Fairmount,22nd St. and Fairmount Ave.,NaN,19130,Thurs,3-7pm,June 6th- November 27th,Y,Y,Y,"7, 32, 33, 48, PHLASH"
4,5,Center City,Francisville Artisan and Farmers Market,1628-32 Ridge Ave,NaN,19130,Sat,10am - 2pm,TBD,NaN,NaN,NaN,NaN
5,6,Center City,Jefferson,10th and Chestnut St,NaN,19107,Thurs,11am-3pm,mid-April - November 21st,Y,Y,Y,"MFL (8th or 11th st stop), 47"
6,7,Center City,Fitler Square Park,23rd and Pine St,NaN,19103,Sat,9am-2pm,Open year round,Y,Y,Y,"7, 12, 40"
7,8,Center City,Headhouse,2nd and Lombard St,NaN,19147,Sun,10am-2pm,Open year round,Y,Y,Y,"12, 40, 57"
8,9,Center city,Christ Church,"On Church St, between 2nd and 3rd Sts.",NaN,19106,Wed,2-7pm,May 15 - October,NaN,NaN,NaN,"48, 57"
9,10,Germantown/ Chestnut Hill,Germantown Kitchen Garden,215 E. Penn St.,NaN,19144,Sat,9am-1pm,May - October,Y,Y,Y,23
10,11,Germantown/ Chestnut Hill,Germantown & Schoolhouse,Germantown Ave and E. Schoolhouse Lane,In front of Market Square Park,19144,Thurs,3-7pm,June 13th - October 31st,Y,Y,Y,NaN
11,12,Germantown/ Chestnut Hill,East Falls,4100 Ridge Ave,In parking lot under Route 1,19129,Sat,10am-2pm,May - November,Y,Y,Y,61
12,13,Germantown/ Chestnut Hill,Chestnut Hill Farmersâ€™ Market,Winston Rd and Germantown Ave.,NaN,19118,Sat,9am â€“ 1pm; 10am - 12pm,Open year round: 9am - 1pm (May - end of Novem...,NaN,Y,NaN,"23, 77, L, Chestnut Hill Line, Chestnut Hill W..."
13,14,Lower North,Liberty Lands Park,913 N. 3rd Street,NaN,19123,Sat,10am-2pm,May 18th - October 26th,NaN,NaN,NaN,NaN
14,15,North,Cecil B. Moore,Cecil B. Moore Ave between Broad & 13th St,NaN,19122,Thurs,2-6pm,June 6th â€“ November 21st,Y,Y,Y,"4, 16, BSS"
15,16,North,Hunting Park,W. Hunting Park Ave. and Old York Rd,NaN,19140,Sat,10am-2pm,May 25th - November 23rd,Y,Y,Y,"BSS (Hunting Park stop), 4,23"
16,17,North,Park and Tabor,N. Park Ave. and W. Tabor Rd,Near Einstein Medical Center,19141,Tues,2-6pm,May 21st - November 26th,Y,Y,Y,"18, 26, BSS"
17,18,North,4th and Lehigh,4th St & Lehigh Ave.,NaN,19133,Tues,12-4pm,June 18th - Sept 10th,Y,Y,Y,"47, 54"
18,19,North,33rd & Dauphin,33rd & Dauphin St,NaN,19121,Wed,2-6pm,June 5th -November 13th,Y,Y,Y,"7, 32, 39, 54, 61"
19,20,North,SHARE Nice Roots Farm,2901 W. Hunting Park Ave.,NaN,19129,Tues & Thurs,2-4pm,May - November,Y,Y,Y,R
20,21,North,North Front Street,North Front Street and Cecil B Moore Avenue,NaN,19122,Sun,10am-2pm,June 2nd- October 27th,Y,Y,NaN,NaN
21,22,North,26th and Allegheny,26th St and Allegheny Ave.,NaN,19129,Wed,12-4pm,June 19th - September 11th,Y,Y,Y,"48, 60"
22,23,Northeast,Frankford Transportation Center,Frankford and Bustleton Ave.,NaN,19124,Tues,2-6pm,June 11th - October 29th,Y,Y,Y,MFL
23,24,Northeast,Caster & Hellerman (Oxford Circle),Castor Ave & Hellerman St.,NaN,19149,Wed,12-4pm,June 5th - November 6th,Y,Y,Y,"19, 24, 67"
24,25,Northeast,Kleinlife,Red Lion Rd & Jamison Ave,NaN,19116,Tues,12-4pm,May -Nov,Y,Y,Y,NaN
25,26,Northwest,Henry Got Crops,7095 Henry Ave,At Saul High School,19128,"Tues, Fri",12-7pm,May - November,Y,Y,Y,27
26,27,Northwest,Mt. Airy,Carpenter Lane and Greene St.,NaN,19119,Thurs,2-6 pm,June 20th - Aug 22nd,NaN,Y,NaN,H
27,28,Northwest,Grumblethorpe House,5267 Germantown Ave.,NaN,19144,Sat,9:30am-1:30pm,June - Aug,Y,Y,NaN,23
28,29,Olney/Oak Lane,West Oak Lane,Ogontz Ave and Walnut Lane,NaN,19138,Tues,2-6pm,July 9th - October 29th,Y,Y,Y,"6, XH"
29,30,Penns Landing,The Food Trust's Market at Cherry Street Pier,121 N. Christopher Columbus Blvd,NaN,19106,Saturdays,10 - 2pm,July 13th - Novemeber 16th,Y,Y,Y,NaN
30,31,Roxborough/ Manayunk,Gorgas Park,Ridge Ave and Acorn St.,NaN,19128,Fri,3-7pm,May 24th - November 22nd,Y,Y,Y,9
31,32,Roxborough/ Manayunk,Pretzel Park,4300 Silverwood St.,NaN,19127,Sat,10am-2pm,May â€“ October,NaN,NaN,NaN,"27, 61"
32,33,South,Novick Family Urban Farm Stand,6th & Ritner St,Mifflin Park,19148,Wed,2-6pm,May - Sept,Y,Y,NaN,NaN
33,34,South,22nd & Tasker,22nd and Tasker St,NaN,19145,Wed,2-6pm,July 10th- Oct 30th,Y,Y,Y,NaN
34,35,South,Broad and Morris,Broad and Morris Street,NaN,19145,Tues,2-6pm,June 11th - September 17th,Y,Y,Y,NaN
35,36,South,Fountain,11th and Tasker St,On E. Passyunk Ave,19147,Wed,3-7pm,May 15 - November 27th,NaN,Y,NaN,"23, 29"
36,37,South,Dickinson Square,East Moyamensing Ave and Morris St,NaN,19148,Sun,10am-2pm,May 19- November 24,Y,Y,Y,"2,29,47,57"
37,38,Southwest,Sankofa Community Farm at Bartramâ€™s Garden,54th & Lindbergh Blvd,At the entrance to Bartram's Garden,19143,Thurs,3:30-6:30pm,June-November,Y,Y,Y,36 trolley
38,39,Southwest,58th & Chester,58th St and Chester Ave.,NaN,19143,Wed,2-6pm,July 10th -October 30th,Y,Y,Y,"13 trolley, G"
39,40,West,52nd & Haverford,52nd St and Haverford Ave.,NaN,19139,Wed,12-4pm,June 5th â€“ October 30th,Y,Y,Y,"30, 52"
40,41,West,Clark Park,43rd St. and Baltimore Ave.,NaN,19104,Thurs & Sat,"Thurs 3-7pm, Sat 10am-2pm","Thurs open June 6th â€“ November 27th, Sat open ...",Y,Y,Y,"13, 30, 34"
41,42,West,Greensgrow West,5123 Baltimore Ave.,NaN,19143,Sun,12pm- 4pm,Mid-June- September,Y,NaN,Y,NaN
42,43,West,Overbrook,Lancaster & City Avenue,At the Overbrook Presbyterian Church,19151,Sat,9am-1pm,May 25th â€“ November 23rd,Y,Y,Y,"65, 105, G, R5 Paoli-Thorndale Line"
43,44,West,Heritage Farm,4300 Monument Rd.,NaN,19131,Thurs,3:30-5:30pm,May - September,Y,Y,NaN,"38, 40"
44,45,West,University Square,36th and Walnut St,NaN,19104,Wed,10am-5pm (sunset),January - middle of November,NaN,Y,NaN,21
45,46,West,W. Philly YMCA Market,5120 Chestnut St,At the West Philly YMCA,19139,1st & 3rd Fri,10am-2pm,June - September,Y,Y,Y,NaN
46,47,West,Neighborhood Foods Farm,608 N. 53rd St,Near Neighborhood Foods Farm,19131,Wed & Sat,"Wed: 2pm-6pm, Sat: 10am-2pm","Wednesdays: June - August, Saturdays: May â€“ Oc...",Y,Y,Y,52
47,48,West,Walnut Hill,4610 Market St.,NaN,19139,Thurs,4-7pm,June- November,Y,Y,Y,"MFL (46th st stop), 30, 31, 64"
48,49,West,Shepard Rec Market,5700 Haverford Ave,NaN,19131,Last Tues of the month,12pm-3pm,June - October,Y,Y,Y,NaN
49,50,West,Mill Creek Farm,4901 Brown St,Between 49th and 50th Streets,19139,Wed & Sat,Wed 1-5pm; Sat 11am-2pm,June - Thanksgiving,Y,Y,NaN,"30, 52, 64"

In [235]:
parks = pd.read_csv('../datasets/raw_data/PPR_Properties.csv')

In [236]:
parks

,OBJECTID,PUBLIC_NAME,PARENT_NAME,NESTED,OFFICIAL_NAME,LABEL,ALIAS,DPP_ASSET_ID,ADDRESS_911,ZIP_CODE,...,PPR_DISTRICT,PPR_OPS_DISTRICT,COUNCIL_DISTRICT,POLICE_DISTRICT,CITY_SCALE_MAPS,LOCAL_SCALE_MAPS,PROGRAM_SITES,COMMENTS,Shape__Area,Shape__Length
0,1,William H (Billy) Markward Memorial Playground,Schuylkill River Park,Y,William H. (Billy) Markward Memorial Playground,Markward,NaN,1903,400 S TANEY ST,19146,...,7,"5, 7",2,9,Y,Y,Y,NaN,23295.664062,892.868012
1,2,Schuylkill Banks,Schuylkill Banks,N,NaN,Schuylkill Banks,NaN,2794,400 S TANEY ST,19103,...,7,"5, 7","2, 5","9, 17",Y,Y,N,Bill 160113 (4/14/16) -South of South St Bridge,101477.179688,9300.670289
2,3,Schuylkill River Park,Schuylkill River Park,N,NaN,Schuylkill River Park,NaN,2992,400 S TANEY ST,19146,...,7,"5, 7",2,9,Y,Y,N,NaN,50512.582031,1259.304657
3,4,Frankford Boat Launch,Frankford Boat Launch,N,Frankford Boat Launch,Frankford Boat Launch,PA Fish & Boat;Frankford Arsenal Boat Launch,3090,5625 TACONY ST,19137,...,2,2,6,15,Y,Y,N,NaN,133961.171875,1641.529044
4,5,Orthodox Street Park,Orthodox Street Park,N,NaN,Orthodox,Orthodox Street Parcel; Bridesburg Riverfront ...,3091,3101 ORTHODOX ST,19137,...,5,2,6,15,Y,Y,N,Officially acquired from PAID in 10/2019. Doc ...,112026.734375,1679.085206
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
516,517,Sedgely and Fletcher Warehouse,Sedgely and Fletcher Warehouse,N,NaN,Sedgely Warehouse,Sedgley Storeroom;Maintenance Warehouse,99999,2528 W SEDGLEY AVE,19132,...,6,6,5,22,N,Y,N,School District leases to PPR.,5341.640625,356.178092
517,518,Fox Chase - Lorimer Trail Greenway (Rhawn),Fox Chase - Lorimer Trail Greenway (Rhawn),N,NaN,Fox Chase - Lorimer Greenway,NaN,99999,439 RHAWN ST,19111,...,1,1,10,7,Y,Y,N,No Public Access. Undeveloped Land awaiting Fo...,24840.667969,2152.448099
518,519,Bartrams Mile Trail Greenway,Bartrams Mile Trail Greenway,N,NaN,Bartrams Trail Greenway,Bartram's Mile; Bartrams South,0,NaN,19143,...,9,8,3,"12,18",Y,N,N,In Development,63509.933594,2635.375719
519,520,Loretto and Gilham Triangle,Loretto and Gilham Triangle,N,NaN,Loretto and Gilham,Cranford Ave andd Magee Ave Traffic Island; No...,245,1385 GILHAM ST,19111,...,1,2,9,2,Y,Y,N,NaN,1116.867188,144.694698
520,521,Rail Park,Rail Park,N,The Rail Park,Rail Park,NaN,3838,1250 NOBLE ST,19123,...,10,5,1,6,Y,Y,N,Elevated former railway.,6009.941406,825.079151

In [200]:
playgrounds = pd.read_csv('../datasets/raw_data/PPR_Playgrounds.csv')
playgrounds

,X,Y,OBJECTID,PARK_NAME,AGE_RANGE,DATE_INSTALLED,COMMENTS,DATA_SOURCE
0,-75.049887,40.028293,1,Joseph F Vogt Playground,5_12_YEARS,2008/01/01 00:00:00+00,NaN,"Capital Data 2019, Pictometry 2020"
1,-75.062879,40.016068,2,Victor J Moss Memorial Field,5_12_YEARS,2020/01/01 00:00:00+00,Installed between 2019 and 2020.,"Pictometry 2020, Rebuild Construction Updates ..."
2,-75.210076,39.942285,3,48th and Woodland Playground,5_12_YEARS,1970/01/01 00:00:00+00,NaN,"Cyclomedia 2018, Playground Equipment 2017, Pi..."
3,-75.076305,40.014239,4,William (Billy) Gambrel Playground,5_12_YEARS,2009/01/01 00:00:00+00,NaN,"Capital Data 2019, Pictometry 2020"
4,-75.123617,39.994489,5,Marian Winfield Hissey Recreation Center,5_12_YEARS,2016/01/01 00:00:00+00,NaN,"Capital Data 2019, Pictometry 2020"
...,...,...,...,...,...,...,...,...
435,-75.151341,39.966437,436,East Poplar Playground,5_12_YEARS,1970/01/01 00:00:00+00,NaN,"Cyclomedia 2018, Playground Equipment 2017, Pi..."
436,-75.048365,40.021376,437,Frank JG Dorsey Memorial Playground,5_12_YEARS,2018/11/05 00:00:00+00,NaN,"Google Street View 2018, Pictometry 2020"
437,-75.193456,39.932788,438,William Lanier Park,5_12_YEARS,2018/11/14 00:00:00+00,NaN,"Google Street View 2018, Pictometry 2020"
438,-75.182712,39.994276,439,31st and Cumberland Play Lot,2_5_YEARS,1970/01/01 00:00:00+00,NaN,Pictometry 2020
439,-75.182421,39.995553,440,31st and Huntingdon Play Lot,2_5_YEARS,1970/01/01 00:00:00+00,NaN,Pictometry 2020

In [201]:
from shapely.geometry import Polygon, Point, MultiPolygon

zip_json = []
for i in np.arange(len(playgrounds)):
    lon,lat = playgrounds.X[i],playgrounds.Y[i]
    
    if np.logical_or(np.isnan(lon),np.isnan(lat)):
        zip_json.append(np.nan)
    else:
        point = Point(lon,lat)
        try:
            zip_json.append(df[df.geometry.contains(point) == True].CODE.values[0])
        except:
            zip_json.append(np.nan)

In [202]:
playgrounds['zipcode'] = zip_json

In [203]:
pools = pd.read_csv('../datasets/raw_data/PPR_Swimming_Pools.csv')

In [204]:
pools

,X,Y,OBJECTID,AMENITY_NAME,PARK_NAME,ADDRESS_911,ZIP_CODE,POOL_TYPE,POOL_STATUS,DATE_INSTALLED,COMMENTS,DATA_SOURCE
0,-75.082316,40.073673,1,Fox Chase Pool,Fox Chase Recreation Center,7901 RIDGEWAY ST,19111,OUTDOOR,ACTIVE,1970/01/01 00:00:00+00,NaN,"Finder, Pictometry 2020"
1,-74.991426,40.068296,2,Mitchell Pool,Thomas Mitchell Playground,3600 WHITEHALL LN,19114,OUTDOOR,ACTIVE,2012/01/01 00:00:00+00,NaN,Capital 2019; Finder; Pictometry 2020
2,-75.075901,40.056294,3,Jardel Pool,Thomas E Jardel Memorial Field,1400 COTTMAN AVE,19111,OUTDOOR,ACTIVE,1970/01/01 00:00:00+00,NaN,Finder; Pictometry 2020
3,-75.002837,40.052664,4,Jacobs Pool,George Jacobs Playground,4500 LINDEN AVE,19136,OUTDOOR,ACTIVE,1970/01/01 00:00:00+00,NaN,Aquatics 2019; Finder; Pictometry 2020
4,-75.146415,40.049919,5,Morris Estates Pool,Morris Estate Cultural Center,1610 CHELTEN AVE,19141,OUTDOOR,ACTIVE,1970/01/01 00:00:00+00,Emergency access is from Chelten around the bu...,"Finder, Administration, Pictometry 2020"
...,...,...,...,...,...,...,...,...,...,...,...,...
69,-75.151030,39.966569,70,East Poplar Pool,East Poplar Playground,840 N 08TH ST,19123,OUTDOOR,ACTIVE,1970/01/01 00:00:00+00,NaN,"Finder, Pictometry 2020"
70,-75.228663,39.935270,71,F.J. Myers Pool,Francis J Myers Recreation Center,1902 S 58TH ST,19143,OUTDOOR,ACTIVE,1970/01/01 00:00:00+00,NaN,"Finder, Pictometry 2020"
71,-75.092541,40.021455,72,Simpson Pool,Private Alfred J Simpson Memorial Recreation C...,1010 ARROTT ST,19124,OUTDOOR,ACTIVE,1970/01/01 00:00:00+00,NaN,"Finder, Pictometry 2020"
72,-75.048386,40.028077,73,Vogt Pool,Joseph F Vogt Playground,6722 COTTAGE ST,19135,OUTDOOR,ACTIVE,2008/01/01 00:00:00+00,NaN,Capital 2019; Finder; Pictometry 2020
73,-75.032919,40.100175,74,Lackman Pool,William A Lackman Memorial Playground,1165 BARTLETT ST,19115,OUTDOOR,ACTIVE,2014/01/01 00:00:00+00,NaN,Capital 2019; Finder; Pictometry 2020

In [205]:
spraygrounds = pd.read_csv('../datasets/raw_data/PPR_Spraygrounds.csv')
spraygrounds

,X,Y,OBJECTID,PARK_NAME,DATE_INSTALLED,SPRAY_STATUS,COMMENTS,DATA_SOURCE
0,-75.232110,39.915322,1,J Francis Finnegan Playground,1970/01/01 00:00:00+00,ACTIVE,Sprinkler,"Finder, Cyclomedia, Pictometry 2020"
1,-75.161293,40.006236,2,Jerome Brown Playground,1970/01/01 00:00:00+00,ACTIVE,Sprinkler,"Finder, Google Street Photos, Pictometry 2020"
2,-75.033650,40.099923,3,William A Lackman Memorial Playground,2014/01/01 00:00:00+00,ACTIVE,Sprinkler,Finder; Capital 2019; Google Street Photos; Pi...
3,-75.061049,40.029135,4,Lower Mayfair Playground,1970/01/01 00:00:00+00,ACTIVE,Sprinkler,Finder; Google Street Photos; Pictometry 2020
4,-75.187636,39.989071,5,Joseph E Mander Playground,2016/01/01 00:00:00+00,ACTIVE,Sprinkler,"Finder Capital 2019, Pictometry 2020"
...,...,...,...,...,...,...,...,...
93,-75.169324,39.957621,94,Sister Cities Park,1970/01/01 00:00:00+00,ACTIVE,Sprayground,On site review.
94,-75.024754,40.114294,95,Tomlinson and Gifford Playground,2020/07/01 00:00:00+00,INACTIVE,Sprayground (Under Construction),Pictometry 2020; Rebuild Construction Update 2020
95,-75.020978,40.091808,96,Officer Robert Hayes Memorial Playground,2020/01/01 00:00:00+00,ACTIVE,Sprayground,Pictometry 2020; Rebuild Construction Update 2...
96,-75.021215,40.091711,97,Officer Robert Hayes Memorial Playground,2020/01/01 00:00:00+00,ACTIVE,Sprayground,Pictometry 2020; Rebuild Construction Update 2...
97,-75.138117,39.989270,98,Frank S Nelson Jr Memorial Recreation Center,2020/01/01 00:00:00+00,ACTIVE,Sprayground,Pictometry 2020; PPR Programs Verified

In [206]:
import geopandas
df = geopandas.read_file('../datasets/raw_data/Zipcodes_Poly.geojson')

from shapely.geometry import Polygon, Point, MultiPolygon

zip_json = []
for i in np.arange(len(spraygrounds)):
    lon,lat = spraygrounds.X[i],spraygrounds.Y[i]
    
    if np.logical_or(np.isnan(lon),np.isnan(lat)):
        zip_json.append(np.nan)
    else:
        point = Point(lon,lat)
        try:
            zip_json.append(df[df.geometry.contains(point) == True].CODE.values[0])
        except:
            zip_json.append(np.nan)

In [207]:
spraygrounds['zipcode'] = zip_json

In [248]:
playstreets = pd.read_csv('../datasets/raw_data/PPR_Playstreets_Locations.csv')
playstreets

,X,Y,OBJECTID,BLOCK_NAME,ZIP_CODE,YEAR,COMMENTS,DATA_SOURCE
0,-75.191929,39.932893,1,1600 Block of S NEWKIRK ST,19145,2020,NaN,2020 Playstreets Program
1,-75.167486,40.000928,2,3000 Block of N HEMBERGER ST,19132,2020,NaN,2020 Playstreets Program
2,-75.171151,39.996914,3,2700 Block of N RINGGOLD ST,19132,2020,NaN,2020 Playstreets Program
3,-75.124582,39.988014,4,1900 Block of E OAKDALE ST,19125,2020,NaN,2020 Playstreets Program
4,-75.143960,39.994980,5,2800 Block of N FRANKLIN ST,19133,2020,NaN,2020 Playstreets Program
...,...,...,...,...,...,...,...,...
312,-75.155216,39.925441,313,500 Block of SIGEL ST,19148,2020,NaN,2020 Playstreets Program
313,-75.158532,39.924990,314,700 Block of HOFFMAN ST,19148,2020,NaN,2020 Playstreets Program
314,-75.157313,39.923250,315,600 Block of MERCY ST,19148,2020,NaN,2020 Playstreets Program
315,-75.066555,40.045724,316,7000 Block of SOUDER ST,19149,2020,NaN,2020 Playstreets Program
316,-75.174728,40.073502,317,1200 Block of E DURHAM ST,19150,2020,NaN,2020 Playstreets Program

In [253]:
landmark = pd.read_csv('../datasets/raw_data/Landmarks_AGOTrainingOnly.csv')
landmark

,OBJECTID,NAME,ADDRESS,FEAT_TYPE,SUB_TYPE,VANITY_NAME,SECONDARY_NAME,BLDG,PARENT_NAME,PARENT_TYPE,ACREAGE,PARENT_ACREAGE,Shape__Area,Shape__Length
0,1,Chestnut Hill East Station,100 E. Chestnut Hill Ave,Transportation,NaN,NaN,NaN,Y,NaN,NaN,0.206112,2839.623722,8978.187683,913.041444
1,2,India Pentecostal Church,1001 HOWELL ST,House of Worship,NaN,NaN,NaN,Y,NaN,NaN,0.045186,2839.623722,1968.290283,193.948756
2,3,Little Flower Catholic School High School,1001 W LUZERNE ST,School,High School,NaN,NaN,Y,NaN,NaN,1.289753,2839.623722,56181.436035,1754.992341
3,4,Sandmeyer Lane Plaza,10006 SANDMEYER LN,Shopping Center Ground,NaN,NaN,NaN,Y,Sandmeyer Lane Plaza,Shopping Center Ground,0.251364,0.745275,10949.362183,526.073709
4,5,Trocadero Theatre,1003-05 ARCH ST,Theatre,NaN,NaN,NaN,Y,NaN,NaN,0.208510,2839.623722,9082.677856,456.824201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7735,7736,PECO Delaware Generating Station,1355 N BEACH ST,Historic,Infrastructure,NaN,NaN,Y,PECO Delaware Generating Station,Historic,0.033762,3.214868,1470.669434,174.556158
7736,7737,PECO Delaware Generating Station,1355 N BEACH ST,Historic,Infrastructure,NaN,NaN,Y,PECO Delaware Generating Station,Historic,0.032573,3.214868,1418.879578,172.351346
7737,7738,PECO Delaware Generating Station,1355 N BEACH ST,Historic,Infrastructure,NaN,NaN,Y,PECO Delaware Generating Station,Historic,0.065805,3.214868,2866.452942,227.495380
7738,7739,PECO Delaware Generating Station,1355 N BEACH ST,Historic,Infrastructure,NaN,NaN,Y,PECO Delaware Generating Station,Historic,0.006076,3.214868,264.656372,65.178049
7739,7740,PECO Delaware Generating Station,1355 N BEACH ST,Historic,Infrastructure,NaN,NaN,Y,PECO Delaware Generating Station,Historic,0.006338,3.214868,276.077271,74.374394

In [270]:
landmark.ADDRESS = landmark.ADDRESS.astype(str)

In [271]:
testad=[]
for ad in landmark.ADDRESS:
    ad = ad.strip()
    if '-' in ad:
        testad.append(getridofdash(ad))
    else:
        testad.append(ad)

In [272]:
landmark.ADDRESS = testad

In [275]:
landmarkzips = []
for i in landmark.ADDRESS:
    try:
        z = geolocator.geocode(i+', Philadelphia, PA', addressdetails=True).raw['address']['postcode']
        landmarkzips.append(z)

    except:
        landmarkzips.append(np.nan)
landmarkzips

['19118',
 nan,
 '19140',
 '19116',
 '19107',
 '19124',
 '19130',
 '19133',
 '19147',
 '19111',
 '19123',
 '19147',
 nan,
 '19125',
 '19126',
 '19116',
 '19154',
 nan,
 '19128',
 '19107',
 '19124',
 '19124',
 '19124',
 '19148',
 '19118',
 '19140',
 '19119',
 '19124',
 '19124',
 '19147',
 '19141',
 '19116',
 '19116',
 '19141',
 '19122',
 '19111',
 '19138',
 '19111',
 '19138',
 '19107',
 '19115',
 '19147',
 '19123',
 '19115',
 '19147',
 '19111',
 '19107',
 '19123',
 '19140',
 '19107',
 '19143',
 '19133',
 '19154',
 '19133',
 nan,
 '19140',
 '19141',
 '19126',
 '19144',
 '19115',
 nan,
 '19148',
 '19154',
 '19106',
 '19140',
 '19154',
 '19154',
 '19134',
 '19125',
 '19104',
 '19102',
 '19123',
 '19314',
 '19124',
 '19124',
 '19147',
 '19138',
 '19150',
 '19111',
 nan,
 '19123',
 nan,
 '19132',
 '19104',
 '19104',
 '19122',
 '19122',
 '19138',
 '19118',
 '19107',
 nan,
 '19139',
 '19133',
 '19103',
 '19144',
 '19148',
 '19144',
 '19144',
 '19127',
 '19120',
 '19120',
 '19120',
 '19118',
 '19110',
 '19102',
 '19118',
 '19118',
 '19118',
 '19131',
 '19147',
 '19148',
 '19111',
 '19147',
 '19123',
 '19143',
 '19123',
 '19107',
 '19122',
 '19154',
 '19130',
 '19120',
 '19148',
 '19133',
 '19140',
 '19144',
 '19147',
 '19154',
 '19111',
 '19146',
 '19147',
 '19107',
 '19147',
 '19147',
 '19115',
 '19154',
 '19130',
 '19140',
 '19134',
 '19146',
 '19107',
 '19124',
 '19120',
 '19146',
 nan,
 '19147',
 '19147',
 '19147',
 '19124',
 '19130',
 '19133',
 '19133',
 '19143',
 '19140',
 '19107',
 '19107',
 '19141',
 '19146',
 '19141',
 '19131',
 '19143',
 '19122',
 '19139',
 '19144',
 '19107',
 '19126',
 '19126',
 '19145',
 '19131',
 '19122',
 '19140',
 '19147',
 '19147',
 '19107',
 nan,
 nan,
 '19138',
 '19150',
 '19151',
 '19151',
 '19143',
 '19132',
 '19125',
 '19125',
 '19138',
 '19146',
 '19146',
 '19138',
 nan,
 '19132',
 '19141',
 '19146',
 '19148',
 '19147',
 '19131',
 '19107',
 '19132',
 '19146',
 '19122',
 '19146',
 '19123',
 '19121',
 '19147',
 '19125',
 '19125',
 '19116',
 '19107',
 '19123',
 '19146',
 nan,
 '19141',
 '19154',
 '19131',
 '19146',
 '19107',
 '19120',
 '19139',
 '19106',
 '19109',
 '19124',
 '19152',
 '19154',
 '19154',
 '19104-2989',
 '19154',
 '19154',
 '19154',
 '19145',
 '19107',
 '19124',
 '19102',
 '19140',
 '19140',
 '19133',
 '19146',
 '19144',
 '19127',
 '19147',
 '19130',
 '19146',
 '19148',
 '19146',
 '19148',
 '19146',
 '19131',
 '19139',
 '19146',
 '19146',
 '19121',
 '19103',
 '19140',
 '19145',
 '19116',
 '19151',
 '19140',
 '19146',
 '19146',
 '19123',
 '19125',
 '19126',
 '19123',
 '19148',
 '19138',
 '19146',
 '19115',
 '19115',
 '19102',
 '19138',
 '19122',
 '19107',
 '19123',
 '19147',
 '19147',
 '19124',
 '19146',
 '19126',
 '19141',
 '19124',
 '19124',
 '19151',
 '19145',
 '19143',
 '19140',
 '19146',
 '19126',
 '19144',
 '19140',
 '19143',
 '19122',
 '19131',
 '19131',
 '19127',
 '19131',
 '19131',
 '19151',
 '19106',
 '19119',
 '19119',
 '19131',
 '19103',
 nan,
 '19139',
 '19116',
 '19144',
 '19139',
 '19132',
 '19146',
 '19140',
 '19107',
 '19122',
 '19111',
 '19107',
 nan,
 '19146',
 '19124',
 '19141',
 '19125',
 '19122',
 '19103',
 '19148',
 '19143',
 '19106',
 '19144',
 '19122',
 '19146',
 '19122',
 '19154',
 '19104',
 '19122',
 '19140',
 '19127',
 '19103',
 '19145',
 '19122',
 '19143',
 '19121',
 '19104',
 '19116',
 '19116',
 '19115',
 '19135',
 '19146',
 '19111',
 '19106',
 '19146',
 '19133',
 '19154',
 '19132',
 '19122',
 '19140',
 '19123',
 '19111',
 nan,
 '19102',
 '19132',
 '19122',
 '19119',
 '19120',
 '19116',
 '19124',
 '19122',
 '19129-1712',
 '19121',
 '19146',
 '19121',
 '19151',
 '19125',
 '19124',
 '19121',
 '19124',
 '19144',
 '19144',
 '19127',
 '19118',
 '19110',
 '19125',
 '19102',
 '19122',
 '19132',
 '19124',
 '19125',
 '19148',
 '19103',
 '19103',
 nan,
 '19108',
 '19150',
 '19103',
 '19138',
 nan,
 '19121',
 '19146',
 '19140',
 '19140',
 '19104',
 '19121',
 '19140',
 '19143',
 '19147',
 '19140',
 '19125',
 nan,
 '19140',
 '19125',
 '19131',
 '19130',
 '19151',
 '19129-1712',
 '19121',
 '19119',
 '19131',
 '19116',
 '19151',
 '19150',
 '19116',
 '19119',
 '19152',
 '19119',
 '19144',
 '19146',
 '19125',
 '1903',
 '19145',
 '19103',
 '19122',
 '19121',
 '19121',
 '19122',
 '19103',
 '19111',
 '19149',
 '19149',
 '19149',
 '19149',
 '19130',
 '19146',
 '19132',
 '19104-2989',
 '19102',
 '19122',
 '19124',
 '19124',
 '19102',
 '19147',
 '19121',
 '19146',
 '19146',
 '19146',
 '19115',
 '19146',
 '19141',
 '19121',
 '19107',
 '19107',
 '19141',
 '19104',
 '19124',
 '19146',
 '19130',
 '19146',
 nan,
 nan,
 '19146',
 '19121',
 '19104',
 '19119',
 '19102',
 '19139',
 '19102',
 '19103',
 '19146',
 '19132',
 '19145',
 '19121',
 '19122',
 '19122',
 '19102',
 '19122',
 '19146',
 '19103',
 '19102',
 '19102',
 '19147',
 '19121',
 '19132',
 '19104',
 '19111',
 '19115',
 '19121',
 '19124',
 '19111',
 '19145',
 '19146',
 '19144',
 '19147',
 '19121',
 '19122',
 '19146',
 '19146',
 '19148',
 '19148-9996',
 '19141',
 '19121',
 '19103',
 '19121',
 '19146',
 '19146',
 '19146',
 '19122',
 '19148',
 '19121',
 '19121',
 '19148',
 '19103',
 '19121',
 '19121',
 '19132',
 '19131',
 '19145',
 '19126',
 '19130',
 '19130',
 '19148',
 '19132',
 '19119',
 '19103',
 '19145',
 '19121',
 '19145',
 '19132',
 '19121',
 '19103',
 '19131',
 '19152',
 '19147',
 nan,
 '19140',
 '19130',
 '19140',
 '19121',
 '19146',
 '19132',
 '19102',
 '19104-2989',
 '19151',
 '19104',
 '19132',
 '19130',
 '19143',
 '19147',
 '19141',
 '19132',
 '19122',
 '19124',
 '19122',
 '19121',
 '19132',
 '19151',
 '19122',
 '19116',
 '19121',
 '19141',
 '19126',
 '19126',
 '19125',
 nan,
 '19126',
 '19121',
 '19145',
 '19145',
 '19124',
 '19124',
 '19151',
 '19148',
 '19148',
 '19103',
 '19124',
 '19132',
 '19146',
 '19102',
 '19146',
 '19124',
 nan,
 '19122',
 '19152',
 '19147',
 '19103',
 '19121',
 '19121',
 '19146',
 '19102',
 '19152',
 '19111',
 '19146',
 '19102',
 '19107',
 '19121',
 '19147',
 '19143',
 '19132',
 '19151',
 '19146',
 '19132',
 '19102',
 '19143',
 '19130',
 '19146',
 '19146',
 nan,
 '19122',
 '19121',
 '19131',
 '19103',
 '19121',
 '19121',
 nan,
 '19146',
 '19126',
 '19103',
 '19111',
 '19132',
 '19115',
 '19145',
 '19145',
 '19122',
 '19148',
 '19148',
 '19130',
 '19125',
 '19141',
 '19130',
 '19122',
 '19131',
 '19103',
 '19107',
 '19151',
 '19151',
 '19111',
 '19132',
 '19122',
 '19121',
 '19116',
 '19111',
 '19144',
 '19115',
 '19103',
 '19103',
 '19141',
 '19146',
 '19145',
 '19121',
 '19145',
 '19132',
 '19121',
 '19138',
 '19121',
 '19121',
 '19118',
 '19103',
 '19130',
 '19133',
 '19121',
 '19146',
 '19148',
 '19122',
 '19148',
 '19121',
 '19152',
 '19103',
 '19106',
 '19106',
 '19145',
 '19120',
 '19144',
 '19148',
 '19103',
 nan,
 '19116',
 '19111',
 '19145',
 '19145',
 '19145',
 '19130',
 '19130',
 '19103',
 '19146',
 '19146',
 nan,
 '19131',
 '19146',
 '19130',
 '19145',
 '19121',
 '19143',
 '19145',
 '19140',
 '19145',
 '19140',
 '19146',
 '19122',
 '19145',
 '19131',
 '19121',
 '19127',
 '19127',
 '19107',
 '19120',
 '19123',
 '19103',
 '19124',
 '19132',
 '19140',
 '19146',
 '19146',
 '19140',
 '19103',
 '19122',
 '19142',
 '19139',
 '19104',
 '19121',
 '19124',
 '19121',
 '19122',
 '19121',
 nan,
 '19145',
 '19145',
 '19152',
 '19121',
 '19103',
 '19131',
 '19121',
 '19148',
 '19148',
 '19134',
 '19121',
 '19130',
 '19134',
 '19146',
 '19124',
 '19103',
 '19122',
 '19145',
 '19103',
 '19140',
 '19130',
 '19121',
 '19140',
 '19121',
 '19146',
 '19103',
 '19121',
 '19121',
 '19103',
 '19141',
 '19141',
 '19116',
 '19151',
 '19151',
 '19140',
 '19118',
 '19118',
 '19106',
 '19147',
 '19126',
 '19144',
 '19106',
 '19120',
 '19147',
 '19134',
 '19119',
 '19120',
 '19102',
 '19103',
 '19138',
 '19139',
 '19152',
 '19122',
 '19121',
 '19121',
 '19134',
 '19134',
 nan,
 '19151',
 '19146',
 '19151',
 '19140',
 '19122',
 '19134',
 '19145',
 '19115',
 '19140',
 '19145',
 '19127',
 '19115',
 '19134',
 '19145',
 nan,
 '19129-1712',
 '19122',
 '19143',
 '19140',
 '19145',
 '19145',
 '19145',
 '19145',
 '19145',
 '19145',
 '19122',
 '19138',
 '19145',
 '19122',
 '19118',
 '19124',
 '19146',
 '19132',
 '19145',
 '19146',
 '19142',
 '19148',
 '19145',
 '19148',
 '19124',
 '19104-2989',
 '19146',
 '19145',
 '19145',
 '19135',
 '19146',
 '19121',
 '19130',
 '19122',
 '19139',
 '19124',
 '19124',
 '19124',
 '19124',
 '19120',
 '19133',
 '19106',
 nan,
 '19139',
 '19145',
 nan,
 '19145',
 '19121',
 '19131',
 '19103',
 '19103',
 '19121',
 '19145',
 '19130',
 '19103',
 '19132',
 '19140',
 '19125',
 '19126',
 '19145',
 '19146',
 '19146',
 '19145',
 '19148',
 '19131',
 '19130',
 '19103',
 '19118',
 '19125',
 '19145',
 '19103',
 '19139',
 '19128',
 '19130',
 '19139',
 '19128',
 '19118',
 '19140',
 '19120',
 '19138',
 '19130',
 '19130',
 '19134',
 '19144',
 '19138',
 '19151',
 '19130',
 '19145',
 '19145',
 '19140',
 '19140',
 '19132',
 '19125',
 '19130',
 '19132',
 '19107',
 '19106',
 nan,
 '19146',
 '19121',
 '19104',
 '19125',
 '19132',
 '19107',
 '19139',
 '19122',
 '19146',
 '19138',
 '19128',
 nan,
 '19132',
 '19120',
 '19144',
 '19138',
 '19145',
 '19129-1712',
 '19125',
 '19314',
 '19123',
 '19103',
 '19118',
 '19118',
 '19131',
 '19131',
 '19124',
 '19122',
 '19120',
 '19138',
 '19121',
 '19132',
 '19132',
 '19145',
 '19145',
 '19148',
 nan,
 nan,
 nan,
 '19118',
 '19121',
 '19121',
 '19122',
 '19122',
 '19148',
 '19134',
 '19146',
 '19129-1712',
 '19132',
 '19146',
 '19125',
 '19103',
 nan,
 '19138',
 '19148',
 '19148',
 '19103',
 '19151',
 '19130',
 '19103',
 '19130',
 '19130',
 '19121',
 '19149',
 '19121',
 '19131',
 '19145',
 '19145',
 '19144',
 '19103',
 '19133',
 '19145',
 '19103',
 '19104',
 '19121',
 '19142',
 '19103',
 '19132',
 '19125',
 '19132',
 '19123',
 '19127',
 '19119',
 '19146',
 '19151',
 '19124',
 '19131',
 '19138',
 '19127',
 '19132',
 '19139',
 '19121',
 '19115',
 '19138',
 nan,
 nan,
 '19142',
 '19131',
 '19148',
 '19103',
 '19118',
 '19121',
 '19132',
 '19145',
 ...]

In [276]:
landmark['zipcode'] = landmarkzips

In [277]:
landmark

,OBJECTID,NAME,ADDRESS,FEAT_TYPE,SUB_TYPE,VANITY_NAME,SECONDARY_NAME,BLDG,PARENT_NAME,PARENT_TYPE,ACREAGE,PARENT_ACREAGE,Shape__Area,Shape__Length,zipcode
0,1,Chestnut Hill East Station,100 E. Chestnut Hill Ave,Transportation,NaN,NaN,NaN,Y,NaN,NaN,0.206112,2839.623722,8978.187683,913.041444,19118
1,2,India Pentecostal Church,1001 HOWELL ST,House of Worship,NaN,NaN,NaN,Y,NaN,NaN,0.045186,2839.623722,1968.290283,193.948756,NaN
2,3,Little Flower Catholic School High School,1001 W LUZERNE ST,School,High School,NaN,NaN,Y,NaN,NaN,1.289753,2839.623722,56181.436035,1754.992341,19140
3,4,Sandmeyer Lane Plaza,10006 SANDMEYER LN,Shopping Center Ground,NaN,NaN,NaN,Y,Sandmeyer Lane Plaza,Shopping Center Ground,0.251364,0.745275,10949.362183,526.073709,19116
4,5,Trocadero Theatre,1003 ARCH ST,Theatre,NaN,NaN,NaN,Y,NaN,NaN,0.208510,2839.623722,9082.677856,456.824201,19107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7735,7736,PECO Delaware Generating Station,1355 N BEACH ST,Historic,Infrastructure,NaN,NaN,Y,PECO Delaware Generating Station,Historic,0.033762,3.214868,1470.669434,174.556158,19125
7736,7737,PECO Delaware Generating Station,1355 N BEACH ST,Historic,Infrastructure,NaN,NaN,Y,PECO Delaware Generating Station,Historic,0.032573,3.214868,1418.879578,172.351346,19125
7737,7738,PECO Delaware Generating Station,1355 N BEACH ST,Historic,Infrastructure,NaN,NaN,Y,PECO Delaware Generating Station,Historic,0.065805,3.214868,2866.452942,227.495380,19125
7738,7739,PECO Delaware Generating Station,1355 N BEACH ST,Historic,Infrastructure,NaN,NaN,Y,PECO Delaware Generating Station,Historic,0.006076,3.214868,264.656372,65.178049,19125
7739,7740,PECO Delaware Generating Station,1355 N BEACH ST,Historic,Infrastructure,NaN,NaN,Y,PECO Delaware Generating Station,Historic,0.006338,3.214868,276.077271,74.374394,19125

In [213]:
housingcouncil = pd.read_csv('../datasets/raw_data/HousingCounselingAgencies.csv')

In [214]:
housingcouncil

,X,Y,OBJECTID,AGENCY,STREET_ADDRESS,ZIP_CODE,PHONE_NUMBER,WEBSITE_URL,FORECLOSURE,PRE_PURCHASE,SPECIALTY
0,-75.164334,39.950281,1,Tenant Union Representative Network,"100 S Broad St, Suite 800",19110,(215) 940-3900,rturn.net,No,No,RENTER
1,-75.058741,40.027872,2,Affordable Housing Centers of PA: Northeast Of...,"6325 Frankford Ave, Unit D",19135,(215) 624-0221,http://www.ahcopa.org,Yes,Yes,
2,-75.131601,39.999387,3,HACE: Central Office,"167 W Allegheny Ave, Suite 200",19140,(215) 426-8025,http://www.hacecdc.org,Yes,Yes,
3,-75.185149,40.052264,4,Mt. Airy USA,"6703 Germantown Ave, Suite 200",19119,(215) 844-6021,mtairyusa.org,Yes,Yes,
4,-75.179097,39.927490,5,Diversified Community Services (Dixon House),1920 S 20th St,19145,(215) 336-3511,http://www.dcsphila.org,Yes,Yes,
5,-75.122706,39.990802,6,New Kensington CDC,"2771 Ruth St, Suite 1",19134,(215) 427-0350,nkcdc.org,Yes,Yes,
6,-75.132253,40.026923,7,Greater Philadelphia Asian Social Service (GPASS),4943 N 5th St,19120,(215) 456-1662,http://www.gpasspa.org,Yes,Yes,
7,-75.207524,39.956706,8,Intercultural Family Services,4225 Chestnut St,19104,(215) 386-1298,http://www.ifsinc.org,Yes,Yes,
8,-75.135512,39.981620,9,Norris Square Community Alliance,174 Diamond St,19122,(215) 426-8734,nscaonline.org,Yes,Yes,
9,-75.141284,40.053003,10,Northwest Counseling Service,6521 N Broad St,19126,(215) 324-7500,nwcsinc.org,Yes,Yes,
10,-75.135430,39.992949,11,Congreso de Latinos Unidos,216 W Somerset St,19133,(215) 763-8870,http://www.congreso.net,Yes,Yes,
11,-75.144429,39.982851,12,AsociaciÃ³n PuertorriqueÃ±os en Marcha (APM),600 Diamond St,19122,(215) 235-6070,http://www.apmphila.org,Yes,Yes,
12,-75.134116,40.015920,13,Esperanza,4261 N 5th St,19140,(215) 324-0746,http://www.esperanza.us,Yes,Yes,
13,-75.168132,39.949543,14,Clarifi,"1635 Market St, Suite 510",19103,(215) 563-5665,http://www.clarifi.org,Yes,Yes,
14,-75.081009,40.019366,15,HACE: Frankford Office,4907 Frankford Ave,19124,(215) 437-7867,http://www.hacecdc.org,Yes,Yes,
15,-75.231097,39.925673,16,Southwest CDC,6328 Paschall Ave,19142,(215) 729-0800,southwestcdc.org,Yes,Yes,
16,-75.163588,39.954978,17,Unemployment Information Center,"112 N Broad St, 11th Floor",19102,(215) 557-0822,philaup.org,Yes,Yes,
17,-75.227091,39.973952,18,Philadelphia Council for Community Advancement,5218 W Master St,19131,(215) 567-7803,pccahousing.org,Yes,Yes,
18,-75.159491,39.923266,19,United Communities Southeast Philadelphia,2029 S 8th St,19148,(215) 468-1645,ucsep.org,Yes,Yes,
19,-75.163700,39.950228,20,Urban League of Philadelphia,"121 S Broad St, 9th Floor",19107,(215) 985-3220,urbanleaguephila.org,Yes,Yes,
20,-75.171564,40.081110,21,West Oak Lane CDC,1624 Wadsworth Ave,19150,(215) 224-8339,westoaklanecdc.org,Yes,Yes,
21,-75.160366,39.969521,22,Affordable Housing Centers of Pennsylvania,846 N Broad St,19130,(215) 765-1221,http://www.ahcopa.org,Yes,Yes,
22,-75.176682,40.035732,23,Center in the Park,5818 Germantown Ave,19144,(215) 848-7722,http://www.centerintheparkphila.org,Yes,Yes,SENIOR
23,-75.153296,39.953793,24,Liberty Resources,"112 N 8th St, Suite 600",19107,(215) 634-2000,libertyresources.org,Yes,No,DISABILITY
24,-75.213985,40.027546,25,Intercommunity Action (Senior Center),403 Rector St,19128,(215) 487-1750,http://www.intercommunityaction.org,Yes,No,SENIOR
25,-75.164945,39.944194,26,Philadelphia Senior Center,509 S Broad St,19147,(215) 546-5879,philaseniorcenter.org,Yes,No,SENIOR
26,-75.153677,39.957222,27,Philadelphia Chinatown CDC,301-305 N 9th St,19107,(215) 922-6156,chinatown-pcdc.org,Yes,Yes,NaN

In [215]:
affordable_housing = pd.read_csv('../datasets/raw_data/Affordable_Housing.csv')

In [216]:
affordable_housing

,OBJECTID,FISCAL_YEAR_COMPLETE,PROJECT_NAME,DEVELOPER_NAME,ADDRESS,PROJECT_TYPE,TOTAL_UNITS,ACCESSIBLE_UNITS,SENSORY_UNITS,VISITABLE_UNITS
0,1,2019.0,Gloria Casarez Residence (1315 N 8th),Project HOME,1315 N 8TH ST,Special Needs,30.0,4.0,2.0,30.0
1,2,2019.0,Roberto Clemente Homes,Nueva Esperanza,3921-61 N 5TH ST,Rental,38.0,6.0,2.0,38.0
2,3,2019.0,Henry Avenue Senior Campus I,NewCourtland Elder Services,3232 HENRY AVE,Rental,49.0,6.0,2.0,49.0
3,4,2019.0,Villas Del Caribe,HACE,161-71 W ALLEGHENY AVE,Rental,81.0,10.0,2.0,60.0
4,5,2019.0,Cantrell Place,Presby's Inspired Life,447 CANTRELL ST,Rental,61.0,8.0,4.0,61.0
...,...,...,...,...,...,...,...,...,...,...
396,397,1995.0,Youthbuild - Point Breeze,"Octavia Hill, Youthbuild",Point Breeze,Rental,22.0,NaN,NaN,NaN
397,398,NaN,Capacity Building Grant,11260 Housing Development Corporation,3512 N BROAD ST,Special Needs,3.0,NaN,NaN,NaN
398,399,NaN,Capacity Building Grant,HERO Inc,3338 N GRATZ ST,Special Needs,1.0,NaN,NaN,NaN
399,400,NaN,Capacity Building Grant,Interact,486 GREEN LN,Special Needs,8.0,NaN,NaN,NaN
400,401,NaN,Capacity Building Grant,PCAH,59 N FELTON ST,Special Needs,1.0,NaN,NaN,NaN

In [218]:
def getridofdash(add):
    add_0 = add.split('-')[0]
    
    for i in [add.split('-')[-1]]:
        words = i.split(' ')[1:]
        add_1 = ' '.join(words)
        
    cleaned_add = add_0+' '+add_1
    return(cleaned_add)

In [219]:
testad = []
for ad in affordable_housing.ADDRESS:
    if '-' in ad:
        testad.append(getridofdash(ad))
    else:
        testad.append(ad)

In [220]:
affordable_housing.ADDRESS = testad

In [221]:
geolocator.geocode(affordable_housing.ADDRESS[1]+', Philadelphia, PA', addressdetails=True).raw['address']['postcode']

'19140'

In [122]:
housing_zips = []
for i in affordable_housing.ADDRESS:
    try:
        z = geolocator.geocode(i+', Philadelphia, PA', addressdetails=True).raw['address']['postcode']
        housing_zips.append(z)

    except:
        housing_zips.append(np.nan)

In [222]:
affordable_housing['zipcode'] = housing_zips

In [306]:
nac_office = pd.read_csv('../datasets/raw_data/NAC_Offices.csv')
nac_office

,OBJECTID,ORGANIZATION,STREET_ADDRESS,ZIP_CODE,NAC_COORDINATOR,PHONE_NUMBER,EMAIL_ADDRESS,WEBSITE_URL
0,1,AsociaciÃ³n PuertorriqueÃ±os en Marcha (APM),600 W Diamond St,19122,Victoria Cubillos-Canon,267-296-7215,victoria.cubillos-canon@apmphila.org,http://www.apmphila.org
1,2,Brewerytown-Sharswood Civic Association,"3000 ""D"" Master St",19121,Rose Levere,267-858-4266,rlevere@brewerytownsharswoodnac.org,http://www.brewerytownsharswood.org
2,3,Philadelphia Chinatown Development Corporation,301-305 N 9th St\n,19107,Yue Wu,215-922-2156,ywu@chinatown-pcdc.org,http://www.chinatown-pcdc.org
3,4,Diversified Community Services (Dixon House),1529 S 22nd St,19146,Meeka Outlaw,215-336- 5505 ext. 113,moutlaw@dcsphila.org,http://www.dcsphila.org
4,5,The Enterprise Center CDC,4548 Market St,19139,Jamar Bordley,215-895-4020,jbordley@theenterprisecenter.com,http://www.theenterprisecenter.com
5,6,Frankford CDC,4667- 69 Paul St,19124,Christine DeJesus,215-743-6580,cdejesus.fcdc@gmail.com,http://www.frankfordcdc.org
6,7,Germantown United,5320 Germantown Ave,19144,Rhakeim Miller,215-856-4303,rmiller@germantownunitedcdc.org,https://germantownunitedcdc.org
7,8,Greater Philadelphia Asian Social Services (GP...,4943 N 5th St,19120,Larry White,215-456-1662 ext. 119,lwhite@gpasspa.org,http://www.gpasspa.org
8,9,HACE: Central Office,167 W Allegheny Ave,19140,Stasia Monteiro,215-426-8025,smonteiro@hacecdc.org,http://www.hacecdc.org
9,10,Hunting Park Community Revitilization Corporation,3760 N Delhi St,19140,Luz Laboy,215-225-5560,hunting.parknac@verizon.net,http://www.huntingparknac.org
10,11,"Mt. Vernon Manor, Inc.",631 N 39th St,19104,Lorraine Gomez,215-475-9492,lorraine@mvmcdc.org,http://www.mvmcdc.org
11,12,Nicetown CDC,4300 Germantown Ave,19140,Sandra Harmon,215-329-1827,sandra@nicetowncdc.org,http://www.nicetowncdc.org
12,13,New Kensington CDC/NAC,"2771 Ruth St, Suite 1",19134,Katsi Miranda-Lozada,215-427-0350 ext. 116,kmiranda-lozada@nkcdc.org,http://www.nkcdc.org
13,14,People's Emergency Center CDC,3939 Warren St,19104,Kevin Brown,267-777-5820,kevinb@pec-cares.org,http://www.pec-cares.org
14,15,"South Kensington Community Partners, Inc.",1301 N 2nd St,19122,Rasheed Davis,215-427-3463,info@southkensingtoncommunity.org,http://www.southkensingtoncommunity.org
15,16,Southwest CDC,6328 Paschall Ave,19142,Mark Harrell,215-729-0804,mark@southwestcdc.org,http://www.southwestcdc.org
16,17,Strawberry Mansion Neighborhood Action Center,2829 W Diamond St,19121,Lawrence Battle,215-235-7505 ext. 203,lawrencebattlejr@strawberrymansionnac.org,http://www.strawberrymansioncdc.org
17,18,"Tioga United, Inc.",1639 W Venango St,19140,Elizabeth Stokes,215-639-6912,tiogaunited@hotmail.com,http://www.tyogaunited.homestead.com
18,19,UAC/Parkside Association of Philadelphia,1719 N 52nd St,19131,Shakia Boulware,215-877-1198\n,sboulware@parksideassociation.org,http://www.parksideassociation.org
19,20,"Whitman Council, Inc.",2455 S 3rd St,19148,Maryanne Daniels,215-468-4056,whitmancouncilinc@gmail.com,http://www.whitmancouncil.com
20,21,ACHIEVEability,59 N 60th St,19139,Yolanda Mack,215-748-8800,yolanda.mack@achieve-ability.org,http://www.achieveability.org

In [307]:
nac_com = pd.read_csv('../datasets/raw_data/NeighborhoodAdvisoryCommittees.csv')
nac_com

,OBJECTID,ORGANIZATION,STREET_ADDRESS,ZIP_CODE,NAC_COORDINATOR,PHONE_NUMBER,EMAIL_ADDRESS,WEBSITE_URL,Shape__Area,Shape__Length
0,1,Greater Philadelphia Asian Social Services (GP...,4943 N 5th St,19120,Larry White,(215) 456-1662 ext. 119,lwhite@gpasspa.org,gpasspa.org,7.991180e+06,17409.010260
1,2,HACE: Central Office,167 W Allegheny Ave,19140,Stasia Monteiro,(215) 426-8025,smonteiro@hacecdc.org,hacecdc.org,1.013600e+07,17600.149411
2,3,Hunting Park Community Revitilization Corporation,3760 N Delhi St,19140,Luz Laboy,(215) 225-5560,hunting.parknac@verizon.net,huntingparknac.org,1.211200e+07,22686.938514
3,4,"Mt. Vernon Manor, Inc.",631 N 39th St,19104,Lorraine Gomez,(215) 475-9492,lorraine@mvmcdc.org,mvmcdc.org,2.970721e+06,11908.335523
4,5,Nicetown CDC,4300 Germantown Ave,19140,Sandra Harmon,(215) 329-1827,sandra@nicetowncdc.org,nicetowncdc.org,1.642062e+07,35551.364871
5,6,UAC/Parkside Association of Philadelphia,1719 N 52nd St,19131,Shakia Boulware,(215) 877-1198\r\n,sboulware@parksideassociation.org,parksideassociation.org,4.152382e+06,14794.907077
6,7,"Whitman Council, Inc.",2455 S 3rd St,19148,Maryanne Daniels,(215) 468-4056,whitmancouncilinc@gmail.com,whitmancouncil.com,4.474290e+06,15134.305315
7,8,ACHIEVEability,59 N 60th St,19139,Yolanda Mack,(215) 748-8800,yolanda.mack@achieve-ability.org,achieveability.org,1.127221e+07,27341.179844
8,9,New Kensington CDC/NAC,"2771 Ruth St, Suite 1",19134,Katsi Miranda-Lozada,(215) 427-0350 ext. 116,kmiranda-lozada@nkcdc.org,nkcdc.org,1.568685e+07,36696.562293
9,10,People's Emergency Center CDC,3939 Warren St,19104,Kevin Brown,(267) 777-5820,kevinb@pec-cares.org,pec-cares.org,4.567061e+06,12684.932830
10,11,"South Kensington Community Partners, Inc.",1301 N 2nd St,19122,Rasheed Davis,(215) 427-3463,info@southkensingtoncommunity.org,southkensingtoncommunity.org,5.455541e+06,13547.846696
11,12,Southwest CDC,6328 Paschall Ave,19142,Mark Harrell,(215) 729-0804,mark@southwestcdc.org,southwestcdc.org,1.694696e+07,31065.277678
12,13,Strawberry Mansion Neighborhood Action Center,2829 W Diamond St,19121,Lawrence Battle,(215) 235-7505 ext. 203,lawrencebattlejr@strawberrymansionnac.org,strawberrymansioncdc.org,6.094987e+06,14143.024715
13,14,"Tioga United, Inc.",1539 W Venango St,19140,Elizabeth Stokes,(267) 639-6912,tiogaunited@hotmail.com,tiogaunitednac.org,9.898447e+06,14674.035063
14,15,AsociaciÃ³n PuertorriqueÃ±os en Marcha (APM),600 W Diamond St,19122,Victoria Cubillos-Canon,(267) 296-7215,victoria.cubillos-canon@apmphila.org,apmphila.org,6.199865e+06,14197.769599
15,16,Brewerytown-Sharswood Civic Association,"3000 ""D"" Master St",19121,Rose Levere,(267) 858-4266,rlevere@brewerytownsharswoodnac.org,brewerytownsharswood.org,4.973970e+06,9641.498778
16,17,Philadelphia Chinatown Development Corporation,301-305 N 9th St\r\n,19107,Yue Wu,(215) 922-2156,ywu@chinatown-pcdc.org,chinatown-pcdc.org,1.966885e+06,7277.919027
17,18,Diversified Community Services (Dixon House),1529 S 22nd St,19146,Meeka Outlaw,(215) 336- 5505 ext. 113,moutlaw@dcsphila.org,dcsphila.org,8.349637e+06,17712.300792
18,19,The Enterprise Center CDC,4548 Market St,19139,Jamar Bordley,(215) 895-4020,jbordley@theenterprisecenter.com,theenterprisecenter.com,4.978154e+06,16052.356487
19,20,Frankford CDC,4667- 69 Paul St,19124,Christine DeJesus,(215) 743-6580,cdejesus.fcdc@gmail.com,frankfordcdc.org,1.199405e+07,22867.481996
20,21,Germantown United,5320 Germantown Ave,19144,Rhakeim Miller,(215) 856-4303,rmiller@germantownunitedcdc.org,germantownunitedcdc.org,1.323854e+07,36333.272911

# turn datasets to zip code

In [330]:
art[art['zipcode']=='19106-9997']  = '19106'
art[art['zipcode']=='19104-2989'] = '19104'

In [331]:
art['num_art'] = 1

In [332]:
art_zips = art.groupby('zipcode')['num_art'].sum().reset_index(name='num_art')

In [333]:
art_zips

   zipcode  num_art
0    19103        9
1    19104       28
2    19106       34
3    19107       20
4    19109        1
5    19111        1
6    19118        3
7    19120        3
8    19121        4
9    19122       11
10   19123       13
11   19130       12
12   19131        1
13   19132        4
14   19133        5
15   19139       13
16   19140        1
17   19142        2
18   19144        6
19   19146        8
20   19147        4
21   19148        1
22   19151        2
23   19153       23
24    7500        2

In [237]:
fm['num_fm']=1
fm_zips = fm.groupby('ZIP')['num_fm'].sum().reset_index(name='num_fm').rename(columns={'ZIP':'zipcode'})

In [335]:
fm_zips.zipcode = fm_zips.zipcode.astype(str)
fm_zips

   zipcode  num_fm
0    19103       2
1    19104       2
2    19106       2
3    19107       1
4    19116       1
5    19118       1
6    19119       1
7    19121       1
8    19122       3
9    19123       1
10   19124       1
11   19125       1
12   19127       1
13   19128       2
14   19129       3
15   19130       2
16   19131       3
17   19133       1
18   19138       1
19   19139       4
20   19140       1
21   19141       1
22   19143       3
23   19144       3
24   19145       2
25   19147       2
26   19148       2
27   19149       1
28   19151       1

In [239]:
parks['num_parks'] = 1
parks_zips = parks.groupby('ZIP_CODE')['num_parks'].sum().reset_index(name='num_parks').rename(columns={'ZIP_CODE':'zipcode'})

In [337]:
parks_zips.zipcode = parks_zips.zipcode.astype(str)

In [241]:
playgrounds

,X,Y,OBJECTID,PARK_NAME,AGE_RANGE,DATE_INSTALLED,COMMENTS,DATA_SOURCE,zipcode
0,-75.049887,40.028293,1,Joseph F Vogt Playground,5_12_YEARS,2008-01-01 00:00:00+00:00,NaN,"Capital Data 2019, Pictometry 2020",19135
1,-75.062879,40.016068,2,Victor J Moss Memorial Field,5_12_YEARS,2020-01-01 00:00:00+00:00,Installed between 2019 and 2020.,"Pictometry 2020, Rebuild Construction Updates ...",19135
2,-75.210076,39.942285,3,48th and Woodland Playground,5_12_YEARS,1970-01-01 00:00:00+00:00,NaN,"Cyclomedia 2018, Playground Equipment 2017, Pi...",19143
3,-75.076305,40.014239,4,William (Billy) Gambrel Playground,5_12_YEARS,2009-01-01 00:00:00+00:00,NaN,"Capital Data 2019, Pictometry 2020",19124
4,-75.123617,39.994489,5,Marian Winfield Hissey Recreation Center,5_12_YEARS,2016-01-01 00:00:00+00:00,NaN,"Capital Data 2019, Pictometry 2020",19134
...,...,...,...,...,...,...,...,...,...
435,-75.151341,39.966437,436,East Poplar Playground,5_12_YEARS,1970-01-01 00:00:00+00:00,NaN,"Cyclomedia 2018, Playground Equipment 2017, Pi...",19123
436,-75.048365,40.021376,437,Frank JG Dorsey Memorial Playground,5_12_YEARS,2018-11-05 00:00:00+00:00,NaN,"Google Street View 2018, Pictometry 2020",19135
437,-75.193456,39.932788,438,William Lanier Park,5_12_YEARS,2018-11-14 00:00:00+00:00,NaN,"Google Street View 2018, Pictometry 2020",19145
438,-75.182712,39.994276,439,31st and Cumberland Play Lot,2_5_YEARS,1970-01-01 00:00:00+00:00,NaN,Pictometry 2020,19132
439,-75.182421,39.995553,440,31st and Huntingdon Play Lot,2_5_YEARS,1970-01-01 00:00:00+00:00,NaN,Pictometry 2020,19132

In [242]:
playgrounds.DATE_INSTALLED = pd.to_datetime(playgrounds.DATE_INSTALLED)

In [243]:
playgrounds['num_playgrounds'] = 1
per = playgrounds.DATE_INSTALLED.dt.to_period("M")
playground_zips = playgrounds.groupby(['zipcode',per])['num_playgrounds'].sum()\
    .groupby(level=0).cumsum().reset_index()

/Users/kessler.363/anaconda3/lib/python3.7/site-packages/pandas/core/arrays/datetimes.py:1091: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  UserWarning,

In [339]:
playground_zips

    zipcode DATE_INSTALLED  num_playgrounds
0     19103        1970-01                1
1     19103        2017-01                3
2     19104        1970-01               14
3     19104        2004-01               16
4     19106        1970-01                3
..      ...            ...              ...
99    19153        1970-01                7
100   19154        1970-01                4
101   19154        2010-01                6
102   19154        2012-01                8
103   19154        2018-01               10

[104 rows x 3 columns]

In [245]:
pools.DATE_INSTALLED = pd.to_datetime(pools.DATE_INSTALLED)
pools['num_pools'] = 1
per = pools.DATE_INSTALLED.dt.to_period("M")
pool_zips = pools.groupby(['ZIP_CODE',per])['num_pools'].sum()\
    .groupby(level=0).cumsum().reset_index()
pool_zips.head()

/Users/kessler.363/anaconda3/lib/python3.7/site-packages/pandas/core/arrays/datetimes.py:1091: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  UserWarning,

   ZIP_CODE DATE_INSTALLED  num_pools
0     19104        1970-01          2
1     19111        1970-01          3
2     19114        2012-01          1
3     19115        2014-01          1
4     19119        1970-01          1

In [341]:
pool_zips.ZIP_CODE = pool_zips.ZIP_CODE.astype(str)

In [246]:
spraygrounds.DATE_INSTALLED = pd.to_datetime(spraygrounds.DATE_INSTALLED)
spraygrounds['num_spraygrounds'] = 1
per = spraygrounds.DATE_INSTALLED.dt.to_period("M")
sprayground_zips = spraygrounds.groupby(['zipcode',per])['num_spraygrounds'].sum()\
    .groupby(level=0).cumsum().reset_index()
sprayground_zips.head()

/Users/kessler.363/anaconda3/lib/python3.7/site-packages/pandas/core/arrays/datetimes.py:1091: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  UserWarning,

  zipcode DATE_INSTALLED  num_spraygrounds
0   19103        1970-01                 2
1   19103        2017-01                 3
2   19104        1970-01                 3
3   19111        1970-01                 2
4   19114        2012-01                 1

In [342]:
sprayground_zips.ZIP_CODE = sprayground_zips.ZIP_CODE.astype(str)

AttributeError: 'DataFrame' object has no attribute 'ZIP_CODE'

In [249]:
playstreets.YEAR = pd.to_datetime(playstreets.YEAR, format='%Y')
playstreets['num_playstreets'] = 1

playstreet_zips = playstreets.groupby(['ZIP_CODE','YEAR'])['num_playstreets'].sum()\
    .reset_index(name='num_playstreets').rename(columns={'ZIP_CODE':'zipcode'})

playstreet_zips

    zipcode       YEAR  num_playstreets
0     19104 2020-01-01               12
1     19120 2020-01-01               18
2     19121 2020-01-01               21
3     19122 2020-01-01                5
4     19124 2020-01-01               15
5     19125 2020-01-01                1
6     19126 2020-01-01                2
7     19130 2020-01-01                3
8     19131 2020-01-01                8
9     19132 2020-01-01               39
10    19133 2020-01-01               21
11    19134 2020-01-01               24
12    19135 2020-01-01                1
13    19136 2020-01-01                2
14    19138 2020-01-01                6
15    19139 2020-01-01               16
16    19140 2020-01-01               36
17    19141 2020-01-01                9
18    19142 2020-01-01               12
19    19143 2020-01-01               27
20    19144 2020-01-01                8
21    19145 2020-01-01               11
22    19146 2020-01-01               12
23    19147 2020-01-01                1
24    19148 2020-01-01                5
25    19149 2020-01-01                1
26    19150 2020-01-01                1

In [345]:
playstreet_zips.zipcode = playstreet_zips.zipcode.astype(str)

In [278]:
landmarkzips = []
for i in landmark.zipcode.astype(str):
    if '-' in i:
        landmarkzips.append(i.split('-')[0])
    elif ':' in i:
        landmarkzips.append(i.split(':')[0])
    else:
        landmarkzips.append(i)

In [279]:
landmark['zipcode'] = landmarkzips

In [288]:
one_hot = pd.get_dummies(landmark['FEAT_TYPE'])
landmark = landmark.drop(['FEAT_TYPE'],axis=1)
landmark = landmark.join(one_hot)
landmark

,OBJECTID,NAME,ADDRESS,SUB_TYPE,VANITY_NAME,SECONDARY_NAME,BLDG,PARENT_NAME,PARENT_TYPE,ACREAGE,...,Structure,Swimming Pool,Theatre,Transportation,Transportation/Transit,University/College Ground,Veterans Organization,Water Pumping Station,Youth Center,Zoo
0,1,Chestnut Hill East Station,100 E. Chestnut Hill Ave,NaN,NaN,NaN,Y,NaN,NaN,0.206112,...,0,0,0,1,0,0,0,0,0,0
1,2,India Pentecostal Church,1001 HOWELL ST,NaN,NaN,NaN,Y,NaN,NaN,0.045186,...,0,0,0,0,0,0,0,0,0,0
2,3,Little Flower Catholic School High School,1001 W LUZERNE ST,High School,NaN,NaN,Y,NaN,NaN,1.289753,...,0,0,0,0,0,0,0,0,0,0
3,4,Sandmeyer Lane Plaza,10006 SANDMEYER LN,NaN,NaN,NaN,Y,Sandmeyer Lane Plaza,Shopping Center Ground,0.251364,...,0,0,0,0,0,0,0,0,0,0
4,5,Trocadero Theatre,1003 ARCH ST,NaN,NaN,NaN,Y,NaN,NaN,0.208510,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7735,7736,PECO Delaware Generating Station,1355 N BEACH ST,Infrastructure,NaN,NaN,Y,PECO Delaware Generating Station,Historic,0.033762,...,0,0,0,0,0,0,0,0,0,0
7736,7737,PECO Delaware Generating Station,1355 N BEACH ST,Infrastructure,NaN,NaN,Y,PECO Delaware Generating Station,Historic,0.032573,...,0,0,0,0,0,0,0,0,0,0
7737,7738,PECO Delaware Generating Station,1355 N BEACH ST,Infrastructure,NaN,NaN,Y,PECO Delaware Generating Station,Historic,0.065805,...,0,0,0,0,0,0,0,0,0,0
7738,7739,PECO Delaware Generating Station,1355 N BEACH ST,Infrastructure,NaN,NaN,Y,PECO Delaware Generating Station,Historic,0.006076,...,0,0,0,0,0,0,0,0,0,0
7739,7740,PECO Delaware Generating Station,1355 N BEACH ST,Infrastructure,NaN,NaN,Y,PECO Delaware Generating Station,Historic,0.006338,...,0,0,0,0,0,0,0,0,0,0

In [300]:
landmark_cut = landmark[['zipcode','Youth Center', 'Zoo','Theatre','Social Services', 'Sports Complex',
                         'Recreation Building', 'Recreation Center',
                        'Museum','Monument','Ice Rink','Historic', 'Historic Landmark','Garden','Cultural']]

zipcode                19118nan19140191161910719124191301913319147191...
Youth Center                                                           4
Zoo                                                                  109
Theatre                                                               18
Social Services                                                       49
Sports Complex                                                        79
Recreation Building                                                    1
Recreation Center                                                      1
Museum                                                               121
Monument                                                               3
Ice Rink                                                               3
Historic                                                               6
Historic Landmark                                                     67
Garden                                                                53
Cultural                                                              39
dtype: object

In [302]:
landmark_cut['num_landmark'] = 1

cols = ['num_landmark','Youth Center', 'Zoo','Theatre','Social Services', 'Sports Complex',
                         'Recreation Building', 'Recreation Center',
                        'Museum','Monument','Ice Rink','Historic', 'Historic Landmark','Garden','Cultural']

landmark_zips = landmark_cut.groupby('zipcode')[cols].sum()\
    .reset_index()

landmark_zips

/Users/kessler.363/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,zipcode,num_landmark,Youth Center,Zoo,Theatre,Social Services,Sports Complex,Recreation Building,Recreation Center,Museum,Monument,Ice Rink,Historic,Historic Landmark,Garden,Cultural
0,19004,19,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,19027,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1903,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,19050,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,19079,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,19096,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,19102,37,0,0,1,3,0,0,0,0,0,0,0,0,0,0
7,19103,91,0,0,1,1,0,0,0,4,1,0,0,1,0,0
8,19104,404,0,0,2,2,1,0,0,2,0,0,0,0,12,0
9,19106,82,0,0,1,0,0,0,0,23,0,0,0,9,0,0
10,19107,84,0,0,3,1,0,0,0,3,0,0,0,1,0,0
11,19108,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12,19109,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,19110,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14,19111,191,2,0,0,0,0,0,0,0,0,0,0,0,0,6
15,19112,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
16,19114,174,0,0,0,0,0,0,0,1,0,0,0,0,2,9
17,19115,153,0,0,0,1,2,0,0,0,0,0,0,0,0,5
18,19116,56,0,0,0,1,0,0,0,0,0,0,0,0,0,0
19,19118,128,0,0,2,0,10,0,0,1,0,0,0,0,0,1
20,19119,88,0,0,0,0,0,0,0,0,0,0,0,0,0,0
21,19120,135,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22,19121,183,0,0,0,5,0,0,0,1,0,0,0,1,1,0
23,19122,180,0,0,0,0,2,0,0,0,0,0,0,0,0,0
24,19123,76,0,0,0,3,0,0,0,2,0,0,0,1,1,0
25,19124,230,0,0,0,1,5,0,0,2,0,0,0,0,0,0
26,19125,107,0,0,0,1,0,0,0,0,0,0,6,0,0,0
27,19126,56,0,0,0,0,0,0,0,0,0,0,0,0,0,0
28,19127,27,0,0,0,0,0,0,0,0,0,0,0,0,0,2
29,19128,111,0,0,0,0,0,0,0,0,0,0,0,0,1,1
30,19129,133,0,0,0,1,3,0,0,0,0,0,0,0,1,0
31,19130,94,0,0,0,1,0,0,0,5,0,0,0,3,1,1
32,19131,333,0,108,0,2,4,0,0,2,0,0,0,2,1,0
33,19132,254,0,0,0,1,0,0,0,1,0,0,0,1,2,0
34,19133,119,0,0,0,1,0,0,0,0,0,0,0,0,1,0
35,19134,142,0,0,0,1,0,0,0,0,0,0,0,0,0,0
36,19135,95,0,0,0,0,0,0,0,0,0,0,0,0,0,1
37,19136,125,0,0,0,0,2,0,0,0,0,0,0,0,0,0
38,19137,300,1,0,0,0,0,0,0,0,0,0,0,0,0,0
39,19138,120,0,0,0,1,0,0,0,0,0,0,0,0,1,0
40,19139,199,0,0,1,9,1,0,0,4,0,0,0,3,7,1
41,19140,285,1,0,0,0,4,0,0,4,0,0,0,1,0,2
42,19141,94,0,0,0,0,0,0,0,0,0,0,0,0,0,0
43,19142,83,0,0,0,1,0,0,0,0,0,0,0,0,0,0
44,19143,185,0,0,0,1,0,0,0,0,0,0,0,0,2,0
45,19144,331,0,0,1,1,9,0,0,29,0,0,0,1,4,2
46,19145,140,0,0,0,1,1,0,0,1,0,0,0,0,0,0
47,19146,164,0,0,1,4,0,0,0,1,0,0,0,0,6,1
48,19147,146,0,0,3,0,1,1,1,4,0,2,0,1,5,1
49,19148,146,0,0,0,2,5,0,0,0,1,0,0,0,1,0
50,19149,61,0,0,0,0,0,0,0,0,0,0,0,0,0,0
51,19150,59,0,0,0,0,7,0,0,0,0,0,0,0,0,0
52,19151,151,0,0,0,1,0,0,0,0,0,0,0,0,0,0
53,19152,142,0,0,0,0,0,0,0,0,0,0,0,0,0,0
54,19153,67,0,0,0,0,0,0,0,1,0,0,0,0,0,0
55,19154,140,0,0,0,2,0,0,0,0,0,0,0,0,0,0
56,19314,35,0,0,0,0,0,0,0,0,0,0,0,0,0,0
57,7500,15,0,0,0,0,0,0,0,0,0,0,0,11,0,0
58,nan,951,0,1,2,0,22,0,0,30,1,1,0,31,4,6

In [303]:
housingcouncil['num_housingcouncil']=1
housing_zips = housingcouncil.groupby('ZIP_CODE')['num_housingcouncil'].sum()\
    .reset_index(name='num_housingcouncil').rename(columns={'ZIP_CODE':'zipcode'})
housing_zips

    zipcode  num_housingcouncil
0     19102                   1
1     19103                   1
2     19104                   1
3     19107                   3
4     19110                   1
5     19119                   1
6     19120                   1
7     19122                   2
8     19124                   1
9     19126                   1
10    19128                   1
11    19130                   1
12    19131                   1
13    19133                   1
14    19134                   1
15    19135                   1
16    19140                   2
17    19142                   1
18    19144                   1
19    19145                   1
20    19147                   1
21    19148                   1
22    19150                   1

In [348]:
housing_zips.zipcode = housing_zips.zipcode.astype(str)

In [308]:
nac_office

nac_office['num_nac_office']=1
nac_office_zips = nac_office.groupby('ZIP_CODE')['num_nac_office'].sum()\
    .reset_index(name='num_nac_office').rename(columns={'ZIP_CODE':'zipcode'})
nac_office_zips

    zipcode  num_nac_office
0     19104               2
1     19107               1
2     19120               1
3     19121               2
4     19122               2
5     19124               1
6     19131               1
7     19134               1
8     19139               2
9     19140               4
10    19142               1
11    19144               1
12    19146               1
13    19148               1

In [349]:
nac_office_zips.zipcode = nac_office_zips.zipcode.astype(str)

In [309]:
nac_com

nac_com['num_nac']=1
nac_zips = nac_com.groupby('ZIP_CODE')['num_nac'].sum()\
    .reset_index(name='num_nac').rename(columns={'ZIP_CODE':'zipcode'})
nac_zips

    zipcode  num_nac
0     19104        2
1     19107        1
2     19120        1
3     19121        2
4     19122        2
5     19124        1
6     19131        1
7     19134        1
8     19139        2
9     19140        4
10    19142        1
11    19144        1
12    19146        1
13    19148        1

In [350]:
nac_zips.zipcode = nac_zips.zipcode.astype(str)

In [351]:
#datasets are: crime,[art_zips,fm_zips,parks_zips,pool_zips*,sprayground_zips*,
#playstreet_zips*,playground_zips*,landmark_zips,housing_zips,nac_office_zips,nac_zips]

In [379]:
dfs = [art_zips,fm_zips,parks_zips,pool_zips,sprayground_zips,playstreet_zips\
       ,playground_zips,landmark_zips,housing_zips,nac_office_zips,nac_zips]
label = ['art','farmersmarket','parks','pools','sprayground','playstreet','playground',\
         'landmark','housing','nac_office','nac']

In [380]:
for i in np.arange(len(dfs)):
    dfs[i].to_csv('../datasets/cleaned_data/'+label[i]+'.csv',index=False)

# start final cleaning and merge of all datasets

In [382]:
crime = pd.read_csv('../datasets/cleaned_data/crime_recent_zip.csv')

In [383]:
crime

,dc_dist,dispatch_date,hour_,text_general_code,lat,lng,zipcode
0,14,2009-04-06,18.0,Burglary Residential,40.045752,-75.173378,19144.0
1,14,2009-04-12,19.0,Burglary Residential,40.045752,-75.173378,19144.0
2,14,2011-11-10,14.0,Burglary Residential,40.045752,-75.173378,19144.0
3,9,2015-04-15,11.0,Thefts,40.049264,-75.066628,19149.0
4,9,2016-08-09,20.0,Thefts,40.049264,-75.066628,19149.0
...,...,...,...,...,...,...,...
1014526,8,2007-02-16,0.0,Narcotic / Drug Law Violations,40.031271,-75.021704,19136.0
1014527,8,2007-02-16,1.0,Other Assaults,40.031271,-75.021704,19136.0
1014528,8,2007-02-16,14.0,Narcotic / Drug Law Violations,40.031271,-75.021704,19136.0
1014529,23,2008-06-03,20.0,Narcotic / Drug Law Violations,39.977956,-75.163017,19121.0
1014530,23,2009-07-31,3.0,All Other Offenses,39.977956,-75.163017,19121.0

In [384]:
hours = []
for i in crime.hour_:
    try:
        hours.append(str(int(i)))
    except:
        hours.append(i)

In [385]:
crime['hour'] = hours
crime= crime.drop(columns = {'hour_','lat','lng','dc_dist'})
crime.head()

  dispatch_date     text_general_code  zipcode hour
0    2009-04-06  Burglary Residential  19144.0   18
1    2009-04-12  Burglary Residential  19144.0   19
2    2011-11-10  Burglary Residential  19144.0   14
3    2015-04-15                Thefts  19149.0   11
4    2016-08-09                Thefts  19149.0   20

In [386]:
ohecols = ['text_general_code','hour']
one_hot = pd.get_dummies(crime[ohecols])
crime = crime.drop(ohecols,axis=1)
crime = crime.join(one_hot)

In [387]:
zips = []
for i in crime.zipcode:
    try:
        zips.append(str(int(i)))
    except:
        zips.append(np.nan)
crime.zipcode = zips
crime.head()

,dispatch_date,zipcode,text_general_code_Aggravated Assault Firearm,text_general_code_Aggravated Assault No Firearm,text_general_code_All Other Offenses,text_general_code_Arson,text_general_code_Burglary Non-Residential,text_general_code_Burglary Residential,text_general_code_DRIVING UNDER THE INFLUENCE,text_general_code_Disorderly Conduct,...,hour_21,hour_22,hour_23,hour_3,hour_4,hour_5,hour_6,hour_7,hour_8,hour_9
0,2009-04-06,19144,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2009-04-12,19144,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2011-11-10,19144,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2015-04-15,19149,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2016-08-09,19149,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [388]:
crime.dispatch_date = pd.to_datetime(crime.dispatch_date)
crime.head()

,dispatch_date,zipcode,text_general_code_Aggravated Assault Firearm,text_general_code_Aggravated Assault No Firearm,text_general_code_All Other Offenses,text_general_code_Arson,text_general_code_Burglary Non-Residential,text_general_code_Burglary Residential,text_general_code_DRIVING UNDER THE INFLUENCE,text_general_code_Disorderly Conduct,...,hour_21,hour_22,hour_23,hour_3,hour_4,hour_5,hour_6,hour_7,hour_8,hour_9
0,2009-04-06,19144,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2009-04-12,19144,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2011-11-10,19144,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2015-04-15,19149,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2016-08-09,19149,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [417]:
zips = crime.zipcode.unique()

In [389]:
crime['num_crimes']=1
per = crime.dispatch_date.dt.to_period("M")
crime_grouped = crime.groupby(['zipcode',per])[crime.columns[2:]].sum()\
    .reset_index()
crime_grouped.to_csv('../datasets/cleaned_data/crime_grouped.csv',index=False)
crime_grouped

,zipcode,dispatch_date,text_general_code_Aggravated Assault Firearm,text_general_code_Aggravated Assault No Firearm,text_general_code_All Other Offenses,text_general_code_Arson,text_general_code_Burglary Non-Residential,text_general_code_Burglary Residential,text_general_code_DRIVING UNDER THE INFLUENCE,text_general_code_Disorderly Conduct,...,hour_22,hour_23,hour_3,hour_4,hour_5,hour_6,hour_7,hour_8,hour_9,num_crimes
0,19102,2006-01,1,1,0,0,1,1,0,1,...,2,1,0,1,1,0,1,2,6,79
1,19102,2006-02,0,2,0,0,4,4,0,0,...,0,3,2,1,2,0,0,0,1,53
2,19102,2006-03,0,1,0,0,6,1,0,0,...,2,3,1,0,4,1,0,1,2,79
3,19102,2006-04,0,1,0,0,3,0,1,0,...,0,4,0,0,0,2,1,2,2,72
4,19102,2006-05,0,2,1,0,2,1,0,0,...,4,3,1,0,1,1,0,3,2,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8166,19154,2019-12,1,3,0,0,1,2,0,0,...,4,1,0,0,1,0,0,1,2,66
8167,19154,2020-01,0,3,0,0,2,5,0,0,...,2,2,0,2,0,0,1,3,1,64
8168,19154,2020-02,0,4,0,0,0,1,0,0,...,2,0,1,0,1,0,1,7,5,57
8169,19154,2020-03,0,2,1,0,2,2,0,0,...,0,1,2,0,1,2,2,4,6,60
8170,19154,2020-04,0,0,1,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,14

In [390]:
crime_merge = crime_grouped.merge(art_zips,on='zipcode',how='left').merge(fm_zips,on='zipcode',how='left')\
    .merge(parks_zips,on='zipcode',how='left')\
    .merge(landmark_zips,on = 'zipcode',how='left')\
    .merge(housing_zips,on = 'zipcode',how='left')\
    .merge(nac_office_zips,on = 'zipcode',how='left')\
    .merge(nac_zips,on = 'zipcode',how='left')

In [501]:
crime_merge.to_csv('../datasets/final_df/crime_total.csv',index=False)

In [500]:
crime_merge.head()

,zipcode,dispatch_date,text_general_code_Aggravated Assault Firearm,text_general_code_Aggravated Assault No Firearm,text_general_code_All Other Offenses,text_general_code_Arson,text_general_code_Burglary Non-Residential,text_general_code_Burglary Residential,text_general_code_DRIVING UNDER THE INFLUENCE,text_general_code_Disorderly Conduct,...,num_tuition_tax,amt_tuition_tax,num_education_credit,amt_education_credit,num_schools,TYPE_SPECIFIC_ARCHDIOCESE,TYPE_SPECIFIC_CHARTER,TYPE_SPECIFIC_CONTRACTED,TYPE_SPECIFIC_DISTRICT,TYPE_SPECIFIC_PRIVATE
0,19102,2006-01,1,1,0,0,1,1,0,1,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0
1,19102,2006-02,0,2,0,0,4,4,0,0,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0
2,19102,2006-03,0,1,0,0,6,1,0,0,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0
3,19102,2006-04,0,1,0,0,3,0,1,0,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0
4,19102,2006-05,0,2,1,0,2,1,0,0,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0

In [392]:
crime_merge['year'] = crime_merge.dispatch_date.dt.year

In [393]:
crime_merge = crime_merge.merge(pool_zips[['zipcode','year','num_pools']],on=['zipcode','year'],how='left')\
    .merge(sprayground_zips[['zipcode','year','num_spraygrounds']],on=['zipcode','year'],how='left')\
    .merge(playstreet_zips[['zipcode','year','num_playstreets']],on=['zipcode','year'],how='left')\
    .merge(playground_zips[['zipcode','year','num_playgrounds']],on=['zipcode','year'],how='left')\

In [394]:
crime_merge.head()

,zipcode,dispatch_date,text_general_code_Aggravated Assault Firearm,text_general_code_Aggravated Assault No Firearm,text_general_code_All Other Offenses,text_general_code_Arson,text_general_code_Burglary Non-Residential,text_general_code_Burglary Residential,text_general_code_DRIVING UNDER THE INFLUENCE,text_general_code_Disorderly Conduct,...,Garden,Cultural,num_housingcouncil,num_nac_office,num_nac,year,num_pools,num_spraygrounds,num_playstreets,num_playgrounds
0,19102,2006-01,1,1,0,0,1,1,0,1,...,0,0,1.0,NaN,NaN,2006,NaN,NaN,NaN,NaN
1,19102,2006-02,0,2,0,0,4,4,0,0,...,0,0,1.0,NaN,NaN,2006,NaN,NaN,NaN,NaN
2,19102,2006-03,0,1,0,0,6,1,0,0,...,0,0,1.0,NaN,NaN,2006,NaN,NaN,NaN,NaN
3,19102,2006-04,0,1,0,0,3,0,1,0,...,0,0,1.0,NaN,NaN,2006,NaN,NaN,NaN,NaN
4,19102,2006-05,0,2,1,0,2,1,0,0,...,0,0,1.0,NaN,NaN,2006,NaN,NaN,NaN,NaN

In [395]:
crime_merge=crime_merge.fillna(0)

In [1069]:
crime_merge.to_csv('../datasets/final_df/crime_total.csv',index=False)

In [453]:
irs_philly.zipcode = irs_philly.zipcode.astype(str)

In [454]:
crime_merge = crime_merge.merge(irs_philly,on=['zipcode','year'],how='left')

In [483]:
crime_merge=crime_merge.fillna(0)
crime_merge.head()

,zipcode,dispatch_date,text_general_code_Aggravated Assault Firearm,text_general_code_Aggravated Assault No Firearm,text_general_code_All Other Offenses,text_general_code_Arson,text_general_code_Burglary Non-Residential,text_general_code_Burglary Residential,text_general_code_DRIVING UNDER THE INFLUENCE,text_general_code_Disorderly Conduct,...,num_tuition_tax,amt_tuition_tax,num_education_credit,amt_education_credit,num_schools,TYPE_SPECIFIC_ARCHDIOCESE,TYPE_SPECIFIC_CHARTER,TYPE_SPECIFIC_CONTRACTED,TYPE_SPECIFIC_DISTRICT,TYPE_SPECIFIC_PRIVATE
0,19102,2006-01,1,1,0,0,1,1,0,1,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0
1,19102,2006-02,0,2,0,0,4,4,0,0,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0
2,19102,2006-03,0,1,0,0,6,1,0,0,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0
3,19102,2006-04,0,1,0,0,3,0,1,0,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0
4,19102,2006-05,0,2,1,0,2,1,0,0,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0

In [484]:
schools = pd.read_csv('../datasets/raw_data/schools.csv')
schools.ACTIVE[schools.ACTIVE =='O'] = 1
schools.ACTIVE[schools.ACTIVE.isna()] = 0
schools['num_schools']=1

/Users/kessler.363/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/kessler.363/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [475]:
schools_cut = schools[['ZIP_CODE','ACTIVE','TYPE_SPECIFIC','num_schools']]

In [476]:
ohecols = ['TYPE_SPECIFIC']
one_hot = pd.get_dummies(schools_cut[ohecols])
schools_cut = schools_cut.drop(ohecols,axis=1)
schools_cut = schools_cut.join(one_hot)

schools_cut.columns

Index(['ZIP_CODE', 'ACTIVE', 'num_schools', 'TYPE_SPECIFIC_ARCHDIOCESE',
       'TYPE_SPECIFIC_CHARTER', 'TYPE_SPECIFIC_CONTRACTED',
       'TYPE_SPECIFIC_DISTRICT', 'TYPE_SPECIFIC_PRIVATE'],
      dtype='object')

In [480]:
schools_zips = schools_cut.groupby('ZIP_CODE')[['num_schools', 'ACTIVE', 'TYPE_SPECIFIC_ARCHDIOCESE',
       'TYPE_SPECIFIC_CHARTER', 'TYPE_SPECIFIC_CONTRACTED',
       'TYPE_SPECIFIC_DISTRICT', 'TYPE_SPECIFIC_PRIVATE']].sum().reset_index().rename(columns={'ZIP_CODE':'zipcode'})
schools_zips.zipcode = schools_zips.zipcode.astype(str)
schools_zips.head()

,zipcode,num_schools,TYPE_SPECIFIC_ARCHDIOCESE,TYPE_SPECIFIC_CHARTER,TYPE_SPECIFIC_CONTRACTED,TYPE_SPECIFIC_DISTRICT,TYPE_SPECIFIC_PRIVATE
0,19102,2,0,2,0,0,0
1,19103,10,1,2,0,1,5
2,19104,20,0,3,1,10,6
3,19106,6,1,2,0,2,1
4,19107,3,2,1,0,0,0

In [481]:
crime_merge= crime_merge.merge(schools_zips,on='zipcode',how='left')

In [482]:
schools_zips.to_csv('../datasets/cleaned_data/schools.csv',index=False)

In [503]:
crime_merge=crime_merge.fillna(0)
crime_merge.head()

,zipcode,dispatch_date,text_general_code_Aggravated Assault Firearm,text_general_code_Aggravated Assault No Firearm,text_general_code_All Other Offenses,text_general_code_Arson,text_general_code_Burglary Non-Residential,text_general_code_Burglary Residential,text_general_code_DRIVING UNDER THE INFLUENCE,text_general_code_Disorderly Conduct,...,num_tuition_tax,amt_tuition_tax,num_education_credit,amt_education_credit,num_schools,TYPE_SPECIFIC_ARCHDIOCESE,TYPE_SPECIFIC_CHARTER,TYPE_SPECIFIC_CONTRACTED,TYPE_SPECIFIC_DISTRICT,TYPE_SPECIFIC_PRIVATE
0,19102,2006-01,1,1,0,0,1,1,0,1,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0
1,19102,2006-02,0,2,0,0,4,4,0,0,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0
2,19102,2006-03,0,1,0,0,6,1,0,0,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0
3,19102,2006-04,0,1,0,0,3,0,1,0,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0
4,19102,2006-05,0,2,1,0,2,1,0,0,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0

In [507]:
crime_merge[crime_merge.columns[2:]] = crime_merge[crime_merge.columns[2:]].astype(int)

In [508]:
crime_merge.head()

,zipcode,dispatch_date,text_general_code_Aggravated Assault Firearm,text_general_code_Aggravated Assault No Firearm,text_general_code_All Other Offenses,text_general_code_Arson,text_general_code_Burglary Non-Residential,text_general_code_Burglary Residential,text_general_code_DRIVING UNDER THE INFLUENCE,text_general_code_Disorderly Conduct,...,num_tuition_tax,amt_tuition_tax,num_education_credit,amt_education_credit,num_schools,TYPE_SPECIFIC_ARCHDIOCESE,TYPE_SPECIFIC_CHARTER,TYPE_SPECIFIC_CONTRACTED,TYPE_SPECIFIC_DISTRICT,TYPE_SPECIFIC_PRIVATE
0,19102,2006-01,1,1,0,0,1,1,0,1,...,0,0,0,0,2,0,2,0,0,0
1,19102,2006-02,0,2,0,0,4,4,0,0,...,0,0,0,0,2,0,2,0,0,0
2,19102,2006-03,0,1,0,0,6,1,0,0,...,0,0,0,0,2,0,2,0,0,0
3,19102,2006-04,0,1,0,0,3,0,1,0,...,0,0,0,0,2,0,2,0,0,0
4,19102,2006-05,0,2,1,0,2,1,0,0,...,0,0,0,0,2,0,2,0,0,0

In [509]:
crime_merge.to_csv('../datasets/final_df/crime_total.csv',index=False)